.Location{
    overflow: hidden;
}
.Locationcontainer{
    
    padding: 4rem 0 4rem 8.5rem;
}
.Location h4{
    font-size: 50px;
    font-weight: 600;
    /* padding-left: 18rem; */
    text-align: left;
}
.Address{
    padding-left: 2rem;
}
.Address h5{
    font-size: 18px;
    font-weight: 500;
 
}
.Address p{
    font-size: 18px;
    font-weight: 300;
}
.Detailrow{
    padding-left: 0rem;
    padding-right: 6rem;
}
/* .LocatedDetailCol{
    padding-left: 18rem;
} */
.LocatedDetail{
    display: flex;
    align-items: center;
    padding-top: 3rem;
}
.LocatedImg{
    text-align: end;
}
/* .Locatecol{
    width: 70%;
} */
@media (min-width:320px) and (max-width: 767px){
    .Locationcontainer{
        padding-left: 1rem;
    }
    .Locatecol{
        width: 100%;
    }
    .Location h4{
        font-size: 45px;
    }
    .LocatedDetail{
        flex-direction: column;
    }
    .Contactimg{
        width: 100%;
        height: auto;
    }
    .Detailrow{
        padding-bottom: 1rem;
        padding-right: 1rem;
    }
}
@media (min-width:768px) and (max-width: 1080px){
    .Locationcontainer{
        padding-left: 1rem;
    }
    .Locatecol{
        width: 100%;
    }
    .Location h4{
        font-size: 45px;
    }
  
    .Contactimg{
        width: 140%;
        height: auto;
    }
    .Detailrow{
        padding-bottom: 1rem;
        padding-right: 1rem;
    }
    .Location h5{
        margin: 0;
        font-size: 20px;
    }
    .Location p{
        font-size: 16px;
        margin: 0;
    }
    .LocatedDetail{
        padding-top: 3rem;
    }
}