.ManagementContainer{
    
    padding: 4rem 0 4rem 8.5rem;
}
.Rotatetext{
    font-size: 14px;
    font-weight: 400;
    color: #000;
    transform: rotate(270deg);
  padding-bottom: 11rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.ManagementTeam{
    padding: 4rem 0;
}
/* .ManagementTeamrow{
    padding-left: 6.5rem;
} */
.Imagecol{
    padding-left: 0rem;
}
.ManagementTeamrow h4{
    font-size: 50px;
    font-weight: 600;
    /* padding-left: 7rem; */
}
.TeamName{
    display: flex;
    justify-content:space-between;
    padding: 1rem 0;
    padding-bottom: 0;
}
.socialimg{
    padding-right: 5px;
    min-width: 1rem;
    min-height: 1rem;
}
.TeamName h5{
    font-size: 20px;
    font-weight: 500;
}
.Maindiv{
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    padding-top: 4rem;
}
.Teamimg{
    width: 100%;
    height: auto;
}
.Imgcol{
    width: 28%;
}
@media (min-width:320px) and (max-width: 767px){
    .Rotatetext{
        display: none;
    }
    .ManagementContainer{
    
        padding: 1rem 0 1rem 1rem;
    }
    .Imgcol{
        width: 100%;
        padding-bottom: 2rem;
    }
    .Maindiv{
        display: block;
    }
}