.OurStoryContainer {
  padding-top: 4rem;
  padding-bottom: 0rem;
  padding-left: 8.5rem;
}
.OurStory {
  background: linear-gradient(22.6deg, #1a1c3c 61.52%, #a21d34 133.83%);
  padding: 0rem 0;
  padding-top: 0;
}
/* .Ourstoryrow{
    padding-left: 2.5rem;
} */
.Rotatetext {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  transform: rotate(270deg);
  padding-bottom: 11rem;
  margin-top: -5.5rem;
  letter-spacing: 2px;
}
.HeadingRow h4 {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding-right: 12rem;
  position: relative;
  bottom: 8rem;
}
.HowWeCame p {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  padding-left: 0rem;
  text-align: justify;
  padding-top: 2rem;
  padding-right: 2rem;
}
.HowWeCame {
  text-align: left;
  width: 55%;
  padding-left: 0rem;
}
.Strength {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 2rem;
}
.Strengthcol {
  width: 25%;
  padding-top: 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.Employeeimg {
  text-align: end;
  padding-right: 2rem;
  padding-top: 0.5rem;
}
.Strength h5 {
  font-size: 50px;
  font-weight: 400;
  color: #fff;
  margin: 0;
  width: 11rem;
}
.Strength span {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.Mobdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5rem;
  position: relative;
  bottom: 8rem;
}
.HeadingRow {
  padding-left: 0rem;
}

@media screen and (max-width: 600px) {
  .Rotatetext {
    display: none;
  }
  .OurStoryContainer {
    padding-left: 1rem;
    padding-top: 8rem;
    height: 130vh;
  }
  .HowWeCame {
    width: 100%;
  }
  .Strengthcol {
    width: 100%;
  }
  .Strength {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding-bottom: 1rem;
    flex-direction: column;
    width: 25%;
  }
  .Strengthcol {
    display: flex;
    flex-direction: initial;
  }
  .OurStory {
    background: linear-gradient(180deg, #1a1c3c 61.52%, #a21d34 133.83%);
    padding: 0;
    height: fit-content;
  }
  .StrengthImg {
    margin-top: 4px;
    margin-bottom: 10px;
  }
  .HowWeCame p {
    padding-right: 1rem;
  }
  .Mobdiv {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 0;
  }
  .Strength h5 {
    font-size: 22px;
    width: auto;
  }
  .HeadingRow h4 {
    padding-right: 0;
    text-align: left;
    padding-bottom: 2rem;
    font-size: 35px;
    padding-top: 4rem;
  }
}

@media screen and (min-width: 600px) {
  .Rotatetext {
    display: none;
  }
  .OurStory {
    opacity: 1 !important;
  }
  .OurStoryContainer {
    padding-left: 1rem;
    padding-top: 12rem;
    overflow: hidden;
  }
  .HeadingRow h4 {
    text-align: left;
    font-size: 50px;
    padding-bottom: 2rem;
  }
  .Mobdiv {
    justify-content: left;
    padding-left: 0rem;
    flex-direction: column-reverse;
  }
  .HowWeCame p {
    font-size: 26px;
  }
  .Strength span {
    font-size: 22px;
  }
  .StrengthImg {
    min-width: 3rem;
  }
  .HeadingRow h4 {
    padding-right: 0;
    text-align: left;
  }
  .HowWeCame {
    width: 100%;
  }
  .Strengthcol {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    right: 2rem;
  }
  .Strength h5 {
    font-size: 35px;
  }
}

@media screen and (min-width: 768px) {
  .Rotatetext {
    font-size: 18px;
    color: #fff;
    transform: rotate(360deg);
    margin-top: 0rem;
    padding-bottom: 0rem;
    letter-spacing: 2px;
  }
  .OurStoryContainer {
    padding-left: 1rem;
    padding-top: 16rem;
  }
  .OurStory {
    background: linear-gradient(180deg, #1a1c3c 61.52%, #a21d34 133.83%);
    padding: 0;
    overflow: hidden;
  }
  .Strength {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding-bottom: 2rem;
  }
  .Strengthcol {
    display: flex;
    padding-left: 2rem;
    padding-top: 2rem;
    flex-direction: row;
  }
  .HowWeCame p {
    padding-right: 1rem;
  }
  .Employeeimg {
    padding-top: 0.8rem;
    padding-right: 2rem;
  }
  .Mobdiv {
    display: flex;
    padding-left: 0;
    justify-content: left;
    flex-direction: column-reverse;
  }
  .HeadingRow h4 {
    padding-right: 0;
    text-align: left;
  }
  .HowWeCame {
    width: 100%;
  }
  .Strengthcol {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .OurStoryContainer {
    padding-left: 8rem;
  }
}

@media screen and (min-width: 1200px) {
  .OurStoryContainer {
    padding-top: 4rem;
    padding-bottom: 0rem;
    padding-left: 8.5rem;
  }
  .OurStory {
    background: linear-gradient(22.6deg, #1a1c3c 61.52%, #a21d34 133.83%);
    padding: 0rem 0;
    padding-top: 0;
  }
  /* .Ourstoryrow{
      padding-left: 2.5rem;
  } */
  .Rotatetext {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    transform: rotate(270deg);
    padding-bottom: 11rem;
    margin-top: -11.5rem;
    letter-spacing: 2px;
    display: block;
  }
  .HeadingRow h4 {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    text-align: left;
    padding-right: 12rem;
    position: relative;
    bottom: 0rem;
    /* padding-left: 13rem; */
  }
  .HowWeCame p {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    padding-left: 0rem;
    text-align: justify;
    padding-top: 2rem;
    padding-right: 2rem;
  }
  .HowWeCame {
    text-align: left;
    width: 55%;
    padding-left: 0rem;
  }
  .Strength {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 1.5rem;
  }
  .Strengthcol {
    width: 25%;
    padding-top: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .Employeeimg {
    text-align: end;
    padding-right: 2rem;
    padding-top: 0.5rem;
  }
  .Strength h5 {
    font-size: 50px;
    font-weight: 400;
    color: #fff;
    margin: 0;
    width: 11rem;
  }
  .Strength span {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
  }
  .Mobdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 6rem;
    position: relative;
    bottom: 3rem;
    flex-direction: row;
  }
}

/* @media (min-width: 320px) and (max-width: 767px) {
 
} */

/* @media (min-width: 768px) and (max-width: 1080px) {
  .Rotatetext {
    font-size: 18px;
    color: #fff;
    transform: rotate(360deg);
    margin-top: 0rem;
    padding-bottom: 0rem;
    letter-spacing: 2px;
  }
  .OurStoryContainer {
    padding-left: 1rem;
  }
  .OurStory {
    background: linear-gradient(180deg, #1a1c3c 61.52%, #a21d34 133.83%);
    padding: 0;
  } */
/* .HowWeCame{
        width: 100%;
    } */
/* .Strengthcol{
        width: 100%;
    } */
/* .Strength {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding-bottom: 4rem;
  }
  .Strengthcol {
    display: block;
    padding-left: 5rem;
    padding-top: 4rem;
  }
  .HowWeCame p {
    padding-right: 1rem;
  }
  .Employeeimg {
    padding-top: 0.8rem;
    padding-right: 4rem;
  }
  .Mobdiv {
    display: flex;
    padding-left: 0;
    justify-content: left;
  }
  .HeadingRow h4 {
    padding-right: 0;
    text-align: left;
  }
} */
