.VisionContainer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.VisionRow {
  padding-left: 8.5rem;
  padding-right: 2rem;
}

.VisionTitle h2 {
  font-size: 70px;
  font-weight: 600;
  color: #000;
  padding-top: 2rem;
}

.VisionTitle p {
  font-size: 18px;
  font-weight: 300;
  padding: 2rem 0;
  padding-left: 0.5rem;
}
@media screen and (max-width: 600px) {
  .VisionContainer {
    padding-left: 0rem;
  }
  .VisionRow {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .VisionTitle h2 {
    font-size: 35px;
  }
}
@media screen and (min-width: 600px) {
  .VisionContainer {
    /* padding-top: 4rem; */
    /* padding-bottom: 4rem; */
    padding-left: 0rem;
  }
  .VisionRow {
    padding-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .VisionContainer {
    padding-left: 0rem;
  }
  .VisionRow {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .VisionContainer {
    padding-left: 6rem;
  }
}

@media screen and (min-width: 1200px) {
  .VisionRow {
    padding-left: 3rem;
  }
}
