.HeroDetailsWrraper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.HeroHeading {
  font-size: 57px;
  text-align: left;
  margin-bottom: 4rem;
  width: 59rem;
  margin-left: 6rem;
}

.ImageWrraper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-left: 6rem;
}

.HeroDetailContainer {
  padding: 4rem 0 0rem 0rem;
}

.HeroImage {
  width: 100%;
  transition: all 1s ease;
}

/* (this for mobile) */
@media screen and (max-width: 600px) {
  .HiddenInMobile {
    display: none;
  }

  .HeroDetailContainer {
    padding: 0rem 0rem 0rem 1rem;
    overflow: hidden;
  }

  .HeroDetailsWrraper {
    padding: 0 0rem 0 0rem;
    overflow: hidden;
  }

  .HeroHeading {
    margin: 0%;
    width: auto;
    font-size: 35px;
    /* text-align: justify; */
  }

  .ImageWrraper {
    margin: 0%;
    margin-top: 2.5rem;
    padding: 0%;
  }
  .HeroImage:hover {
    transform: scale(1.1) !important;
    transition: all 1s ease;
  }
  .ImageanimDiv {
    overflow: hidden;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all 1s ease;
  }
}

/* (this for mobile landscape) */
@media screen and (min-width: 600px) {
  .HeroDetailContainer {
    padding-top: 0%;
  }

  .HeroHeading {
    margin: 0%;
    padding-left: 1rem;
    width: 100%;
  }

  .ImageWrraper {
    padding-left: 1rem;
    margin-top: 5rem;
  }
}

/* (this for Tab) */
@media only screen and (min-width: 768px) {
  .HeroDetailContainer {
    padding-top: 0rem;
  }

  .HeroDetailsWrraper {
    padding: 0rem 0rem;
  }

  .HeroHeading {
    margin: 0%;
    padding-left: 1rem;
    font-size: 48px;
    padding-right: 1rem;
    width: 100%;
  }

  .ImageWrraper {
    margin: 0%;
    margin-top: 2.5rem;
    padding-left: 1rem;
  }
}

/* (this for Tab landscap) */
@media only screen and (min-width: 992px) {
  .HeroHeading {
    font-size: 58px;
  }
}

/* (this for large device) */
@media only screen and (min-width: 1200px) {
  .HeroDetailsWrraper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .HeroHeading {
    font-size: 57px !important;
    text-align: left;
    margin-bottom: 4rem;
    width: 100% !important;
    padding-left: 6rem;
  }

  .ImageWrraper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-left: 6rem;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .HeroDetailContainer {
    padding: 4rem 0 0rem 0rem;
    overflow: hidden;
  }
  .HeroImage:hover {
    transform: scale(1.1) !important;
    transition: all 1s ease;
  }
  .ImageanimDiv {
    overflow: hidden;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all 1s ease;
  }
}
