.outer {
}

.button {
  border: 1px solid #fff;
  border-radius: 20px;
  width: fit-content;
  padding: 0.5rem 1rem;
  display: block;
  color: #fff;
  background: linear-gradient(to right, #fff 50%, transparent 50%);
  background-size: 200% 200%;
  background-position: right bottom;
  transition: all 0.8s ease-out;
  cursor: pointer;
}

.button:hover {
  color: #a21d34;
  background-position: left bottom;
  border: 1px solid #fff;
}

.text {
  text-align: center;
  font-size: 16px;
  color: #a21d34;
  transition: all 0.6s ease-out;
  display: block;
}

.text:hover {
  color: #fff;
}
.Textdiv{
  display: flex;
  justify-content: center;
  align-items: center;
}