.outer {
  margin-top: 1rem;
}

.button {
  border: 1px solid #a21d34;
  border-radius: 20px;
  width: fit-content;
  padding: 0.5rem 1rem;
  color: #a21d34;
  /* background: linear-gradient(to right, #a21d34 50%, white 50%);
  background-size: 200% 200%;
  background-position: right bottom; */
  transition: all 0.3s ease-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.button:hover {
  color: #fff;
  background: #a21d34;
  /* background-position: left bottom; */
  transition: all 0.3s ease-out;
}

.text {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  transition: all 0.6s ease-out;
  display: block;
}

.text:hover {
  color: #fff;
}

@media (min-width: 320px) and (max-width: 767px) {
  .outer {
    margin-top: 1rem;
  }

  /* .button {
    border: 1px solid #a21d34;
    border-radius: 50%;
    width:2.5rem !important;
    height: 2.5rem;
    color: #a21d34;
    background: linear-gradient(to right, #a21d34 50%, white 50%);
    background-size: 200% 200%;
    background-position: right bottom;
    transition: all 0.8s ease-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  } */
}

@media (min-width: 768px) and (max-width: 1080px) {
  .ActionButton {
    margin-top: 0%;
  }
}

@media (min-width: 650px) and (max-width: 740px) {}

@media (min-width: 1200px) and (max-width: 1730px) {}

@media (min-width: 1920px) and (max-height: 1080px) {}