.DropdownMenus {
  border: none;
  background-color: transparent;
  outline: none;
  width: 20rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  height: 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
