.Herosection {
  padding-left: 8.5rem;
  padding-top: 2rem;
}
.Herotitle {
  display: flex;
}
.Herotitle h1 {
  font-size: 4.5rem;
  font-weight: 500;
  color: black;
  line-height: 70px;
  padding-left: 2rem;
}
.Herotitle span {
  font-size: 3rem;
  font-weight: 300;
  color: black;
}
.productimg {
  padding: 2rem 0;
  width: 100%;
  height: auto;
}
.MiniLine {
  width: 40px;
  padding: 0.1rem;
  margin-right: 1rem;
  border-bottom: 1px solid #000;
}
.SoftwareDevelopmentExpertsRow {
  margin: 0%;
  align-items: center;
  padding-bottom: 10rem;
}
.SoftwareDevelopmentExpertsSmallHead {
  display: flex;
  align-items: center;
}
.HomeMiniLine {
  width: 40px;
  padding: 0.1rem;
  margin-right: 1rem;
  border-bottom: 1px solid #000;
}
.HomeSmallHeading {
  font-weight: 400;
  font-size: 20px;
}
.SoftwareDevelopmentExpertsBtnCol {
  justify-content: flex-end;
  margin-top: 0rem;
  display: flex;
  padding-right: 1rem;
}
