.ulc ul {
  display: flex;
  align-items: center;
  margin: 0;
}
.ulc p {
  margin: 0%;
  cursor: pointer;

  /* padding-right: 0.5rem; */
}
.ulc a {
  color: #fff;
}
.menu {
  display: flex;
  justify-content: center;
  height: 30px !important;
  width: 30px;
  background-color: #a21d34 !important;
  border-radius: 100%;
  margin-left: 1rem;
  cursor: pointer;
}

.menu li {
  margin-right: 70px;
  width: fit-content;
}

.menu p {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.menu p span {
  transition: transform 0.2s ease-out;
}

.menu p span:first-child {
  display: inline-block;
  /* padding-top: 0.1rem;
  padding-left: 0.3rem; */
}

.menu p span:last-child {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
}

.menu i {
  font-size: 30px;
}

.menu p:hover span:first-child {
  transform: translateY(100%);
}

.menu p:hover span:last-child,
.menu[data-animation] p:hover span:last-child {
  transform: none;
}

/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.menu[data-animation="to-right"] p span:last-child {
  transform: translateX(-100%);
}

.menu[data-animation="to-right"] p:hover span:first-child {
  transform: translateX(100%);
}

.para:hover {
  color: #a21d34;
}
/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1rem;
}

.page-footer span {
  color: var(--red);
}
