.MobileMenu {
  align-items: center;
  padding: 0.9rem;
  display: none;
  background-color: #ffffff;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 35;
  border-right: 2px solid transparent;
  border-image: linear-gradient(99deg, #2e3159 28.05%, #a21d34 148.07%);
  border-image-slice: 1;
}

.TabletMenu {
  align-items: center;
  padding: 0.9rem;
  display: none;
  background-color: #ffffff;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 35;
  border-right: 2px solid transparent;
  border-image: linear-gradient(99deg, #2e3159 28.05%, #a21d34 148.07%);
  border-image-slice: 1;
}

.MenuController {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  cursor: pointer;
}

.TabletController {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  cursor: pointer;
}

.MobileMenuLogo {
  width: 50%;
}

.TabletMenuLogo {
  width: 50%;
}

.MobifinxXmenu {
  padding-left: 1rem;
  background: linear-gradient(140deg, #1a1c3b 58.4%, #a21d34 124.93%);
}

.MobifinxTabmenu {
  height: 100vh;
  background: linear-gradient(140deg, #1a1c3b 58.4%, #a21d34 124.93%);
  padding-left: 0;
}

.LinkName {
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.05em;
  -webkit-text-stroke: 1px #ffffff;
  text-decoration: none !important;
  color: transparent;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;

  -webkit-transition: background-position 1.5s ease-in-out;
  -o-transition: background-position 1.5s ease-in-out;
  transition: background-position 1.5s ease-in-out;

  margin: 0%;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  opacity: 0.25;
}

.LinkName:hover {
  color: #ffffff;
}

.SubMenu {
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 0.5rem;
  font-size: 18px;
  padding-bottom: 0.5rem;
}

.SubMenu:hover {
  color: #a21d34;
}

.Tabs {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 0.5rem;
  display: flex;
  color: #ffffff;
  align-items: center;
  font-size: 18px;
}

.Tabname {
  width: 25px;
  height: auto;
  /* padding: 0.1rem; */
  margin-right: 1rem;
  border-bottom: 1px solid #ffffff;
  opacity: 1 !important;
}

.IconName {
  padding-top: 0.7rem;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  padding-left: 0.5rem;
}

.IconName:hover {
  color: #a21d34;
}

.IconCard {
}

.IconMenuContainer {
  justify-content: center;
  text-align: center;
}

.hamburger .line {
  width: 50px;
  height: 5px;
  background-color: #2e3159;
  display: block;
  margin: 8px auto;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.IconImg {
  max-height: 80px;
  max-width: 80px;
}

@media screen and (max-width: 600px) {
  .MobileMenu {
    display: flex;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(99deg, #2e3159 28.05%, #a21d34 148.07%);
    border-image-slice: 1;
    border-right: none;
  }

  .MobifinxXmenu {
    padding: 0 1rem;
  }

  /* .IconMenuContainer {
    padding-right: 2rem;
  } */
  .LinkName {
    padding-bottom: 1rem;
    opacity: 0.6;
  }

  .Tabs {
    font-size: 14px;
    padding-top: 2rem;
    padding-left: 0;
  }

  .Explorproduct {
    display: flex;
    justify-content: center;
  }

  .IconMenuContainer {
    justify-content: space-between;
    padding-bottom: 4rem;
  }

  .Menurow {
    padding-bottom: 4rem;
  }

  .hamburger .line {
    height: 2px;
    margin: 5px auto;
    width: 30px;
  }

  .IconName {
    text-align: center;
    padding-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
  .TabletMenu {
    display: flex;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(99deg, #2e3159 28.05%, #a21d34 148.07%);
    border-image-slice: 1;
    border-right: none;
  }

  .MobileMenu {
    display: none;
    padding-right: 1rem;
  }

  .Tabname {
    width: 40px;
  }

  .hamburger .line {
    width: 38px;
    height: 3px;
    background-color: #2e3159;
    display: block;
    margin: 8px auto;
    border-radius: 20px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .TabIconCard {
    display: flex;
    flex-direction: column;
  }

  .LinkName {
    padding-left: 1rem;
    opacity: 0.8;
  }

  .SubMenu {
    padding-left: 1rem;
  }

  .Tabs {
    padding-left: 1rem;
  }

  .TabeMenucol {
    padding-left: 2rem;
  }

  .ProductIcon {
    padding-right: 4rem;
  }
}

/* ================================= */
/* (this for mobile) */
@media screen and (max-width: 600px) {
  .MobileMenu {
    display: flex;
    align-items: center;
    padding: 0.9rem;
  }

  .MobifinxXmenu {
    padding: 0 1rem;
  }

  /* .IconMenuContainer {
      padding-right: 2rem;
    } */
  .LinkName {
    padding-bottom: 1rem;
    opacity: 0.6;
  }

  .Tabs {
    font-size: 14px;
    padding-top: 2rem;
  }

  .Explorproduct {
    display: flex;
    justify-content: center;
  }

  .IconMenuContainer {
    justify-content: space-between;
    padding-bottom: 4rem;
  }

  .Menurow {
    padding-bottom: 4rem;
  }

  .hamburger .line {
    height: 2px;
    margin: 5px auto;
    width: 30px;
  }

  .IconName {
    text-align: center;
    padding-left: 0;
  }
}

/* (this for mobile landscape) */
@media screen and (min-width: 600px) {
  .MobileMenu {
    display: flex;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(99deg, #2e3159 28.05%, #a21d34 148.07%);
    border-image-slice: 1;
  }

  .MobifinxXmenu {
    padding: 0 1rem;
  }

  /* .IconMenuContainer {
        padding-right: 2rem;
      } */
  .LinkName {
    padding-bottom: 1rem;
    opacity: 0.6;
  }

  .Tabs {
    font-size: 14px;
    padding-top: 2rem;
  }

  .Explorproduct {
    display: flex;
    justify-content: center;
  }

  .IconMenuContainer {
    justify-content: space-between;
    padding-bottom: 4rem;
  }

  .Menurow {
    padding-bottom: 4rem;
  }

  .hamburger .line {
    height: 2px;
    margin: 5px auto;
    width: 30px;
  }

  .IconName {
    text-align: center;
    padding-left: 0;
  }
}

/* (this for Tab) */
@media only screen and (min-width: 768px) {
  .Explorproduct {
    display: flex;
    justify-content: left;
  }
  .IconName {
    text-align: left;
  }
}

/* (this for Tab landscap) */
@media only screen and (min-width: 992px) {
  .MobileMenu {
    display: none;
  }
}

/* (this for large device) */
@media only screen and (min-width: 1200px) {
  .MobileMenu {
    display: none;
  }
}
