.MobileMenu {
  align-items: center;
  padding: 0.9rem;
  display: none;
  background-color: #ffffff;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 35;
  border: 2px solid transparent;
  border-image: linear-gradient(99deg, #2e3159 28.05%, #a21d34 148.07%);
  border-image-slice: 1;
  border-top: none;
  border-right: none;
  border-left: none;
}
.MenuController {
  display: flex;
  width: 50%;
  justify-content: end;
  cursor: pointer;
}
.MobileMenuLogo {
  width: 50%;
}
.MobifinxXmenu {
  padding-left: 1rem;
  background: linear-gradient(140deg, #1a1c3b 58.4%, #a21d34 124.93%);
}
.LinkName {
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.05em;
  -webkit-text-stroke: 1px #ffffff;
  text-decoration: none !important;
  color: transparent !important;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  background-size: 100% 200%;
  background-position: top;
  -webkit-transition: background-position 1.5s ease-in-out;
  -o-transition: background-position 1.5s ease-in-out;
  transition: background-position 1.5s ease-in-out;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(50%, #ffffff),
    color-stop(50%, transparent)
  );
  background-image: -webkit-linear-gradient(
    bottom,
    #ffffff 50%,
    transparent 50%
  );
  background-image: -o-linear-gradient(bottom, #ffffff 50%, transparent 50%);
  background-image: linear-gradient(to top, #ffffff 50%, transparent 50%);
  margin: 0%;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  opacity: 0.25;
}
.LinkName:hover {
  background-position: bottom;
  cursor: pointer;
}
.SubMenu {
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 0.5rem;
  font-size: 18px;
  padding-bottom: 0.5rem;
}
.SubMenu:hover {
  color: #a21d34;
}
.Tabs {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  color: #ffffff;
  align-items: center;
  font-size: 18px;
}
.Tabname {
  width: 25px;
  height: auto;
  /* padding: 0.1rem; */
  margin-right: 1rem;
  border-bottom: 1px solid #ffffff;
  /* opacity: 1 !important; */
}
.IconName {
  padding-top: 0.7rem;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}
.IconName:hover {
  color: #a21d34;
}
.IconCard {
}
.IconMenuContainer {
  justify-content: center;
  text-align: center;
}
.hamburger .line {
  width: 50px;
  height: 5px;
  background-color: #2e3159;
  display: block;
  margin: 8px auto;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 320px) and (max-width: 767px) {
  .MobileMenu {
    display: flex;
  }
  .MobifinxXmenu {
    padding: 0 1rem;
  }
  /* .IconMenuContainer {
    padding-right: 2rem;
  } */
  .LinkName {
    padding-bottom: 1rem;
  }
  .Tabs {
    font-size: 14px;
    padding-top: 2rem;
  }
  .Explorproduct {
    display: flex;
    justify-content: center;
  }
  .IconMenuContainer {
    justify-content: space-between;
    padding-bottom: 4rem;
  }
  .Menurow {
    padding-bottom: 4rem;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .MobileMenu {
    display: flex;
  }
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 650px) and (max-width: 740px) {
}
