.sideHeadingBox {
  display: flex;
  justify-content: start;
  align-items: flex-start;
}
.sideHeading {
  color: rgba(18, 18, 18, 0.6);
  transform: rotate(270deg);
  margin-left: -4.5rem;
  margin-top: 4.2rem;
  letter-spacing: 2px;
}
