.MenuContainer {
  /* height: 100vw; */
  background: transparent;
  width: 100%;
  z-index: 37;
  /* height: 100vh; */
  width: 100%;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 5s;
  padding-left: 5.5rem;
  animation-name: fade-in;
  visibility: hidden;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.MenuBar {
  height: 100vh;
  background: linear-gradient(140deg, #1a1c3b 58.4%, #a21d34 124.93%);
  width: 30%;
}
.Menus {
  height: 100vh;
  background: #f8f8f9;
  width: 30%;
}
.Other {
  /* height: 100vh; */
  background: #ffffff;
  width: 40%;
}
.MenuBarContent {
  justify-content: end;
  text-align: right;
  padding-top: 4rem;
  list-style: none;
}
.MenuBarContent li {
  list-style: none;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.05em;
  -webkit-text-stroke: 1px #ffffff;
  text-decoration: none !important;
  color: #1a1c3b;
  transition: all 0.5s ease;

  /* -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  background-size: 100% 200%;
  background-position: top;
  -webkit-transition: background-position 0.8s ease-in-out;
  -o-transition: background-position 0.8s ease-in-out;
  transition: background-position 0.8s ease-in-out;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(50%, #ffffff),
    color-stop(50%, transparent)
  );
  background-image: -webkit-linear-gradient(
    bottom,
    #ffffff 50%,
    transparent 50%
  );
  background-image: -o-linear-gradient(bottom, #ffffff 50%, transparent 50%);
  background-image: linear-gradient(to top, #ffffff 50%, transparent 50%); */
  padding-right: 3rem;
}
.MenuBarContent li:hover,
.MenuName {
  /* background-position: bottom; */
  color: #ffffff;
  cursor: pointer;
  transition: all 0.5s ease;
}
/* 
.MenuBarContent li:active,.MenuName{
  color: #ffffff !important;
  background-position: bottom !important;
} */

.MenuName {
  height: fit-content;
  border: none;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: end;
}
.MenuName a {
  color: transparent !important;
}
.SubMenuName {
  height: fit-content;
  border: none;
  padding-bottom: 1.5rem;
}
.MenuLine {
  opacity: 0;
  padding: 0.2rem;
  background-color: #ffffff;
}
.MenusContent {
  color: #000;
  padding-top: 10rem;
  padding-right: 2rem;
}
.MenusContent li {
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  padding-left: 1rem;
  /* cursor: pointer; */
}
.MenusContent li:hover {
  color: #a21d34;
}
.MiniLine {
  width: 40px;
  padding: 0.1rem;
  margin-right: 1rem;
  border-bottom: 1px solid #ffffff;
}

.SmallHeading {
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
.MainHeading {
  padding-top: 3.5rem;
  padding-left: 3rem;
  display: flex;
  align-items: center;
}
.IconMenuContainer {
  padding-top: 2.5rem;
  padding-left: 4.5rem;
}
.IconCard {
  padding-bottom: 0.5rem;
  /* cursor: pointer; */
}
.IconName {
  padding-top: 0.7rem;
  font-weight: 500;
  font-size: 20px;
  cursor: none;
}
.icon {
  height: 5rem;
}
.UniqueMenuName {
  font-size: 18px !important;
  font-weight: 400 !important;
  color: #000;
  /* position: relative;
bottom: 2rem; */
}
.UniqueMenuName:hover {
  color: #000 !important;
}
.UniqueMenuDescription {
  font-weight: 300 !important;
  font-size: 14px !important;
  /* position: relative;
bottom: 2rem; */
}
.UniqueMenuDescription:hover {
  color: #000 !important;
}
.UniqueUl {
  padding-left: 1rem !important;
}
