.SoftwareDevelopmentExpertsContainer {
  padding-top: 3.1rem;
  padding-left: 8.5rem;
  padding-bottom: 2.5rem;
}
.SoftwareDevelopmentExpertsSmallHead {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
.HomeMiniLine {
  width: 40px;
  padding: 0.1rem;
  margin-right: 1rem;
  border-bottom: 1px solid #ffffff;
}
.HomeSmallHeading {
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
.SoftwareDevelopmentExpertsBtnCol {
  display: flex;
  justify-content: end;
  padding-right: 4rem;
}

@media (max-width: 600px) {
  .HomeSmallHeading {
    font-size: 14px;
  }
  .HomeMiniLine {
    width: 25px;
    margin-right: 0.5rem;
  }
  .SoftwareDevelopmentExpertsSmallHead {
    display: flex;
    align-items: center;
    padding-top: 0rem;
  }
}
@media (min-width: 768px) {
  .SoftwareDevelopmentExpertsSmallHead {
    display: flex;
    align-items: center;
    padding-top: 1rem;
  }
}
@media (min-width: 992px) {
  .SoftwareDevelopmentExpertsSmallHead {
    display: flex;
    align-items: center;
    padding-top: 1rem;
  }
}
@media (min-width: 1200px) {
  .SoftwareDevelopmentExpertsSmallHead {
    display: flex;
    align-items: center;
    padding-top: 1rem;
  }
}
