.ExchnageContainer {
  padding-left: 8.5rem;
  padding-right: 4rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ExchnageHead {
  font-weight: 600;
  font-size: 80px;
  font-family: "Avenir LT Std", sans-serif;
  font-style: normal;
  -webkit-text-stroke: 1px #a21d34;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
  /* -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  background-size: 100% 200%;
  background-position: top;
  -webkit-transition: background-position 0.6s ease-in-out;
  -o-transition: background-position 0.6s ease-in-out;
  transition: background-position 0.6s ease-in-out;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(50%, #a21d34),
    color-stop(50%, #a21d34)
  );
  background-image: -webkit-linear-gradient(bottom, #a21d34 50%, #fff 50%);
  background-image: -o-linear-gradient(bottom, #a21d34 50%, #fff 50%);
  background-image: linear-gradient(to top, #a21d34 50%, #fff 50%); */
}
.ExchnageHead:hover {
  /* background-position: bottom; */
  color: #a21d34;
  transition: all 0.3s ease;
}
.ContactusIcon {
  color: #a21d34;
  font-size: 4rem;
}
.ExchnageParagraph {
  font-weight: 400;
  font-size: 22px;
  color: #a21d34;
}
@media (min-width: 320px) and (max-width: 767px) {
  .ExchnageContainer {
    padding: 4rem 1rem;
  }
  .ExchnageHead {
    font-size: 40px;
    padding-bottom: 1rem;
  }
  .ExchnageParagraph {
    font-size: 14px;
  }
  .ContactusIcon {
    font-size: 35px;
  }
  .ExchnageHead {
    font-family: "Avenir LT Std", sans-serif;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .ExchnageContainer {
    padding: 6rem 1rem;
  }
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 650px) and (max-width: 740px) {
}
