.FooterContainer {
  background: #1a1c3c;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 8.5rem;
  color: #ffffff;
}
.MailContainer {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 0.5rem;
}
.MailContainer input[type="email"] {
  background: none;
  border: none;
  color: #ffffff;
  outline: none;
  width: 100%;
}
.MailContainer input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.SubscribeHeading {
  font-weight: 600;
  font-size: 40px;
  color: #ffffff;
}
.FooterSendButton {
}
.MailInput {
  width: 95%;
}
.MailBtn {
}
.FooterContactusLink {
  font-family: Poppins, sans-serif;
  color: #1a1c3c;
  -webkit-text-stroke: 0.5px #fff;
  font-weight: 600;
  font-size: 70px;
}
.ContactusIcon {
  font-size: 60px;
  margin-left: 2rem;
  color: rgba(255, 255, 255, 0.2);
}
.FooterLinksContainer {
  padding-top: 2rem;
  margin: 0%;
}
.MainLinks {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  padding-left: 0%;
}
.MainLinks li {
  padding-bottom: 0.5rem;
}
.SubLinks {
  list-style: none;
  padding-left: 0%;
}
.SubLinks li {
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}
/*  */
@media (min-width: 320px) and (max-width: 450px) {
}
@media (min-width: 768px) and (max-width: 1080px) {
}
@media (min-width: 650px) and (max-width: 740px) {
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 1920px) and (max-height: 1080px) {
}
