.FutureChoiceContainer {
  background: #ffffff;
  padding: 4rem 0;
  padding-left: 8.5rem;
  padding-right: 4rem;
}
.ReadBlog {
  font-weight: 600;
  font-size: 16px;
  color: #a21d34;
  text-align: center;
}
.BeApartOf {
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  margin: 0%;
}
.FutureChoice {
  text-align: center;
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  color: #ffffff;
  margin: 0%;
}
.WannaReadBtn {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  text-align: center;
  width: fit-content;
  background: #a21d34;
  border-radius: 22px;
  color: #ffffff;
  padding: 0.7rem 2rem;
}
.CardBg {
  height: 22rem;
  background: linear-gradient(138deg, #1a1c3b 60.45%, #a21d34 111.32%);
  border-radius: 20px;
  color: #ffffff;
  padding: 4rem 2rem 4rem 4rem;
}

.CardTitle {
  font-weight: 600;
  font-size: 40px;
}
.CardProfile {
  display: flex;
  align-items: center;
}
.CardProfileName {
  margin: 0%;
  font-weight: 500;
  font-size: 16px;
}
.CardProfileDOB {
  margin: 0%;
  font-weight: 300;
  font-size: 12px;
}
.CardProfileDetailContainer {
  padding-left: 1.5rem;
}
.ProfileContainer {
  padding-top: 2.5rem;
}
.HungryCard {
  height: 22rem;
  padding: 3.5rem;
  color: white;
  border-width: 3px;
  background-color: #ffffff;
  border-radius: 20px;
}
.MainHungry {
  padding: 3px;
  /* background: linear-gradient(138deg, #1a1c3b #a21d34 ); */
  border-radius: 20px;
  background: linear-gradient(-90deg, #1a1c3b 100%, #a21d34 100%);
  background-size: 400% 400%;
  /* transform: matrix(0, -1, -1, 0, 0, 0); */
}

.HungryHeading {
  font-weight: 600;
  font-size: 40px;
  color: #000000;
}
.HungryParagraph {
  font-weight: 400;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.8);
}

@media (min-width: 320px) and (max-width: 450px) {
  .FutureChoiceContainer {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .CardTitle {
    font-size: 27px;
  }
  .CardBg {
    height: auto;
    padding: 2rem;
  }
  .MainHungry {
    margin-top: 2rem;
  }
  .HungryCard {
    height: auto;
    padding: 2rem;
  }
  .HungryHeading {
    font-size: 30px;
  }
  .HungryParagraph {
    font-size: 15px;
  }
  .CardProfileName {
    font-size: 15px;
  }
  .CardProfileDOB {
    font-size: 11px;
  }
  .rightSb {
    height: 36px;
  }
  .ModelF {
    height: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .MainHungry {
    margin-top: 4rem;
  }
  .CardTitle {
    font-size: 45px;
  }
}
@media (min-width: 650px) and (max-width: 740px) {
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 1920px) and (max-height: 1080px) {
}
