.FutureChoiceContainer {
  background: #ffffff;
  padding: 6rem 0;
  padding-left: 8.5rem;
  padding-right: 4rem;
  /* padding-top: 2rem; */
}
.ReadBlog {
  font-weight: 600;
  font-size: 16px;
  color: #a21d34;
  text-align: center;
}
.BeApartOf {
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  margin: 0%;
}
.FutureChoice {
  text-align: center;
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  color: #ffffff;
  margin: 0%;
}
.WannaReadBtn {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  text-align: center;
  width: fit-content;
  background: #a21d34;
  border-radius: 22px;
  color: #ffffff;
  padding: 0.7rem 2rem;
}
.CardBg {
  height: 22rem;
  border-radius: 20px;
  color: #ffffff;
  padding: 4rem 2rem 4rem 4rem;
  background: -webkit-linear-gradient(138deg, #1a1c3b 60.45%, #a21d34 111.32%);
  background: -moz-linear-gradient(138deg, #1a1c3b 60.45%, #a21d34 111.32%);
  background: -o-linear-gradient(138deg, #1a1c3b 60.45%, #a21d34 111.32%);
  background: linear-gradient(138deg, #1a1c3b 60.45%, #a21d34 111.32%);
  /* -webkit-transition: background 1s ease-out;
  -moz-transition: background 1s ease-out;
  -o-transition: background 1s ease-out;
  transition: background 1s ease-out; */
}

.CardBg2 {
  height: 22rem;
  border-radius: 20px;
  background: #ffffff;
  border: 1px solid #1a1c3b;
  padding: 4rem 2rem 4rem 4rem;
}

.CardTitle {
  font-weight: 600;
  font-size: 40px;
  /* transition: all 1s ease; */
}
.CardTitle2 {
  color: #000000;
  /* transition: all 1s ease; */
}
.CardTitle2 {
  color: #000000;
}
.CardProfile {
  display: flex;
  align-items: center;
}
.CardProfileName {
  margin: 0%;
  font-weight: 500;
  font-size: 16px;
}
.CardProfileDOB {
  margin: 0%;
  font-weight: 300;
  font-size: 12px;
}
.CardProfileDetailContainer {
  padding-left: 1.5rem;
}
.ProfileContainer {
  padding-top: 2.5rem;
}
.HungryCard {
  height: 22rem;
  padding: 3.5rem;
  color: white;
  border-width: 3px;
  background-color: #ffffff;
  border-radius: 20px;
  /* transition: all 1s ease; */
}
.HungryCard2 {
  /* background: -webkit-linear-gradient(138deg, #1a1c3b 60.45%, #a21d34 111.32%);
  background: -moz-linear-gradient(138deg, #1a1c3b 60.45%, #a21d34 111.32%);
  background: -o-linear-gradient(138deg, #1a1c3b 60.45%, #a21d34 111.32%);
  background: linear-gradient(138deg, #1a1c3b 60.45%, #a21d34 111.32%); */
  /* -webkit-transition: background 1s ease-out;
  -moz-transition: background 1s ease-out;
  -o-transition: background 1s ease-out;
  transition: background 1s ease-out; */
}
.HungryCard2 {
  background: linear-gradient(138deg, #1a1c3b 60.45%, #a21d34 111.32%);
  /* transition: all 1s ease; */
}
.MainHungry {
  padding: 1px;
  margin-left: 1.5rem;
  border-radius: 20px;
  background: linear-gradient(138deg, #1a1c3b 60.45%, #a21d34 111.32%);
  /* transition: all 1s ease; */
}

.HungryHeading {
  font-weight: 600;
  font-size: 40px;
  color: #000000;
  /* transition: all 1s ease; */
}
.HungryHeading2 {
  font-weight: 600;
  font-size: 40px;
  color: #fff;
  /* transition: all 1s ease; */
}
.HungryHeading2 {
  font-weight: 600;
  font-size: 40px;
  color: #fff;
}
.HungryParagraph {
  font-weight: 400;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.8);
  /* transition: all 1s ease; */
}
.HungryParagraph2 {
  color: #fff;
  /* transition: all 1s ease; */
}
.Outer {
  margin-top: 2.5rem;
}

.Button {
  border: 1px solid #ffffff;
  border-radius: 20px;
  width: fit-content;
  max-width: 12rem;
  padding: 0.5rem 1rem;
  display: block;
  color: #fff;
  /* background: linear-gradient(to right, #ffffff 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom; */
  transition: all 0.3s ease-out;
}

.Button:hover {
  color: #a21d34;
  /* background-position: left bottom; */
}
.HungryParagraph2 {
  color: #fff;
}
.Outer {
  margin-top: 2.5rem;
}

.Button {
  border: 1px solid #ffffff;
  border-radius: 20px;
  width: fit-content;
  max-width: 12rem;
  padding: 0.5rem 1rem;
  display: block;
  color: #fff;
  /* background: linear-gradient(to right, #ffffff 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom; */
  transition: all 0.3s ease-out;
}

.Button:hover {
  color: #a21d34;
  /* background-position: left bottom; */
  background: #fff;
  transition: all 0.3s ease-out;
}

.Text {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  /* transition: all 0.6s ease-out; */
  display: block;
}

.Text:hover {
  color: #a21d34;
}
.RightSb {
  cursor: pointer;
  transition: all 1s ease;
}
.RightSb:hover {
  transform: scale(1.3);
  transition: all 1s ease;
}
@media (min-width: 320px) and (max-width: 767px) {
  .FutureChoiceContainer {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
  .CardTitle {
    font-size: 35px;
  }
  .CardBg {
    height: auto;
    padding: 2rem;
  }
  .MainHungry {
    margin-top: 2rem;
    margin-left: 0;
  }
  .HungryCard {
    height: auto;
    padding: 2rem;
  }
  .HungryHeading {
    font-size: 35px;
  }
  .HungryParagraph {
    font-size: 15px;
  }
  .CardProfileName {
    font-size: 15px;
  }
  .CardProfileDOB {
    font-size: 11px;
  }
  .RightSb {
    height: 36px;
  }
  .ModelF {
    height: 40px;
  }
  .Rightarrow {
    text-align: end;
  }
}
@media only screen and (min-width: 768px) {
  .MainHungry {
    margin-top: 2rem;
    margin-left: 0;
  }
  .CardTitle {
    font-size: 45px;
  }
  .FutureChoiceContainer {
    background: #ffffff;
    padding: 4rem 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .HungryHeading {
    font-size: 45px;
  }
  .HungryCard {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 15rem;
    padding: 3rem 5.5rem 2rem 4.5rem;
  }
}
@media only screen and (min-width: 992px) {
  .HungryCard {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 15rem;
    padding: 3rem 5.5rem 2rem 4.5rem;
  }
  .FutureChoiceContainer {
    padding-left: 8rem;
    padding-right: 2rem;
  }
}
@media only screen and (min-width: 1200px) {
  .FutureChoiceContainer {
    background: #ffffff;
    padding: 6rem 0;
    padding-left: 8.5rem;
    padding-right: 2rem;
    /* padding-top: 2rem; */
  }
  .ReadBlog {
    font-weight: 600;
    font-size: 16px;
    color: #a21d34;
    text-align: center;
  }
  .BeApartOf {
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    margin: 0%;
  }
  .FutureChoice {
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    color: #ffffff;
    margin: 0%;
  }
  .WannaReadBtn {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    text-align: center;
    width: fit-content;
    background: #a21d34;
    border-radius: 22px;
    color: #ffffff;
    padding: 0.7rem 2rem;
  }
  .CardBg {
    height: 22rem;
    border-radius: 20px;
    color: #ffffff;
    padding: 4rem 2rem 4rem 4rem;
    background: -webkit-linear-gradient(
      138deg,
      #1a1c3b 60.45%,
      #a21d34 111.32%
    );
    background: -moz-linear-gradient(138deg, #1a1c3b 60.45%, #a21d34 111.32%);
    background: -o-linear-gradient(138deg, #1a1c3b 60.45%, #a21d34 111.32%);
    background: linear-gradient(138deg, #1a1c3b 60.45%, #a21d34 111.32%);
    /* -webkit-transition: background 1s ease-out;
    -moz-transition: background 1s ease-out;
    -o-transition: background 1s ease-out;
    transition: background 1s ease-out; */
  }

  .CardBg2 {
    height: 22rem;
    border-radius: 20px;
    background: #ffffff;
    border: 1px solid #1a1c3b;
    padding: 4rem 2rem 4rem 4rem;
  }

  .CardTitle {
    font-weight: 600;
    font-size: 40px;
    /* transition: all 1s ease; */
  }
  .CardTitle2 {
    color: #000000;
    /* transition: all 1s ease; */
  }
  .CardTitle2 {
    color: #000000;
  }
  .CardProfile {
    display: flex;
    align-items: center;
  }
  .CardProfileName {
    margin: 0%;
    font-weight: 500;
    font-size: 16px;
  }
  .CardProfileDOB {
    margin: 0%;
    font-weight: 300;
    font-size: 12px;
  }
  .CardProfileDetailContainer {
    padding-left: 1.5rem;
  }
  .ProfileContainer {
    padding-top: 2.5rem;
  }
  .HungryCard {
    height: 22rem;
    padding: 3.5rem;
    color: white;
    border-width: 3px;
    background-color: #ffffff;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
    /* transition: all 1s ease; */
  }
  .HungryCard2 {
    /* background: -webkit-linear-gradient(138deg, #1a1c3b 60.45%, #a21d34 111.32%);
    background: -moz-linear-gradient(138deg, #1a1c3b 60.45%, #a21d34 111.32%);
    background: -o-linear-gradient(138deg, #1a1c3b 60.45%, #a21d34 111.32%);
    background: linear-gradient(138deg, #1a1c3b 60.45%, #a21d34 111.32%); */
    /* -webkit-transition: background 1s ease-out;
    -moz-transition: background 1s ease-out;
    -o-transition: background 1s ease-out;
    transition: background 1s ease-out; */
  }
  .HungryCard2 {
    background: linear-gradient(138deg, #1a1c3b 60.45%, #a21d34 111.32%);
    /* transition: all 1s ease; */
  }
  .MainHungry {
    padding: 1px;
    border-radius: 20px;
    background: linear-gradient(138deg, #1a1c3b 60.45%, #a21d34 111.32%);
    /* transition: all 1s ease; */
    margin: 0;
    margin-left: 1.5rem;
  }

  .HungryHeading {
    font-weight: 600;
    font-size: 40px;
    color: #000000;
    /* transition: all 1s ease; */
  }
  .HungryHeading2 {
    font-weight: 600;
    font-size: 40px;
    color: #fff;
    /* transition: all 1s ease; */
  }
  .HungryHeading2 {
    font-weight: 600;
    font-size: 40px;
    color: #fff;
  }
  .HungryParagraph {
    font-weight: 400;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.8);
    /* transition: all 1s ease; */
  }
  .HungryParagraph2 {
    color: #fff;
    /* transition: all 1s ease; */
  }
  .Outer {
    margin-top: 2.5rem;
  }

  .Button {
    border: 1px solid #ffffff;
    border-radius: 20px;
    width: fit-content;
    max-width: 12rem;
    padding: 0.5rem 1rem;
    display: block;
    color: #fff;
    /* background: linear-gradient(to right, #ffffff 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom; */
    transition: all 0.3s ease-out;
  }

  .Button:hover {
    color: #a21d34;
    /* background-position: left bottom; */
  }
  .HungryParagraph2 {
    color: #fff;
  }
  .Outer {
    margin-top: 2.5rem;
  }

  .Button {
    border: 1px solid #ffffff;
    border-radius: 20px;
    width: fit-content;
    max-width: 12rem;
    padding: 0.5rem 1rem;
    display: block;
    color: #fff;
    /* background: linear-gradient(to right, #ffffff 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom; */
    transition: all 0.3s ease-out;
  }

  .Button:hover {
    color: #a21d34;
    /* background-position: left bottom; */
    background: #fff;
    transition: all 0.3s ease-out;
  }

  .Text {
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    /* transition: all 0.6s ease-out; */
    display: block;
  }

  .Text:hover {
    color: #a21d34;
  }
  .RightSb {
    cursor: pointer;
    transition: all 1s ease;
  }
  .RightSb:hover {
    transform: scale(1.3);
    transition: all 1s ease;
  }
}
/* @media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 1920px) and (max-height: 1080px) {
} */

.wrap {
  width: 100%;
}
/* .gradienttext {
  font-family: "Abril Fatface", sans-serif;
  background: linear-gradient(to right, crimson, pink, springgreen);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: #1a1c3c;
  font-size: 10rem;
  width: 80vw;
  margin: 30vh auto;
  display: block;
  text-align: center;
  transition: color 0.2s ease-in-out;
  text-transform: uppercase;
  font-weight: 900;
}
.gradienttext:hover {
  color: rgba(0, 0, 0, 0);
}
@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
} */
