.InspiredContainer {
  padding-top: 8rem;
  padding-left: 8.5rem;
  padding-bottom: 4rem;
  padding-right: 3rem;
}
.InspiredCardcontainer {
  position: relative;
  /* width: 50%; */
  width: 25rem;
}

.InspiredCardImage {
  display: block;
  height: auto;
  width: 100%;
  height: auto;
}
.InspiredDis {
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    3.41deg,
    rgba(0, 0, 0, 0.8) 15.7%,
    rgba(26, 28, 59, 0) 140.06%
  );
  height: 130px;
  width: 400px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #fff;
}
.InspiredDisTitle {
  font-weight: 500;
  font-size: 18px;
  margin: 0%;
}
.InspiredDisParagraph {
  font-weight: 400;
  font-size: 14px;
  text-align: justify;
  margin: 0%;
  padding-bottom: 1rem;
}
.InspiredCardOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: linear-gradient(
    3.41deg,
    rgba(0, 0, 0, 0.8) 15.7%,
    rgba(26, 28, 59, 0) 140.06%
  );
  opacity: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  width: 400px;
  transition: all 0.5s ease;
}
.InspiredDishead1 {
  font-weight: 700;
  font-size: 18px;
  margin: 0%;
}
.Inspired {
  width: 3rem;
  height: 2px;
  background: #ffffff;
  margin-bottom: 1rem;
}
.InspiredCardcontainer:hover .InspiredCardOverlay {
  height: 100%;
  border-radius: 15px;
  background: rgba(162, 29, 52, 0.9);
  transition: all 0.5s ease;
  opacity: 1;
}
.InspiredCardcontainer:hover .InspiredDis {
  opacity: 0;
}
.InspiredCardText {
  color: white;
  font-size: 20px;
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: absolute;
}
.InspiredCardCol {
  display: flex;
  flex-direction: column;
}
.InspiredCardSpace {
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 25rem;
}
.InspiredCardDes {
  font-weight: 600;
  font-size: 50px;
  width: 23rem;
}
.InspiredCardDesMob {
  font-weight: 600;
  font-size: 45px;
  width: 20rem;
  display: none;
}
.InspiredCardRow {
  justify-content: center;
}
.InspiredCardView {
  padding-top: 4rem;
  display: flex;
  align-items: center;
  /* width: 100%; */
  justify-content: end;
  /* padding-right: 4rem; */
  /* padding-left: 5rem; */
  width: 25rem;
}
.InspiredCardView2 {
  padding-top: 3rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: end;
  padding-right: 2rem;
  opacity: 0;
}
.Viewall2 {
  margin: 0%;
  padding-right: 1rem;
  color: #a21d34;
}
.InspiredCardImg2 {
  height: 70px;
  transition: all 1s ease;
}
.InspiredCardImg2:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}
.InspiredCardImg {
  height: 5rem;
  cursor: pointer;
  transition: all 1s ease;
}
.InspiredCardImg:hover {
  transform: scale(1.3);
  transition: all 1s ease;
}
.InspiredCardText {
  color: #fff;
  margin: 0%;
}
.Viewall {
  margin: 0%;
  padding-right: 2rem;
  color: #a21d34;
}
.LeftdivMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 320px) and (max-width: 649px) {
  .InspiredContainer {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-bottom: 4rem;
    padding-right: 1rem;
  }
  .InspiredCardCol {
    align-items: flex-start;
    width: fit-content;
  }
  .InspiredCardView,
  .InspiredCardDes {
    display: none;
  }
  .InspiredCardDesMob {
    display: block;
    padding: 2rem 0;
    font-size: 35px;
    padding-bottom: 0;
  }
  .InspiredCardView2 {
    opacity: 1;
    display: none;
  }
  .InspiredCardOverlay {
    width: 100%;
  }
  .InspiredCardImage {
    width: 100%;
    height: 26rem;
  }
  .InspiredCardText {
    padding: 1rem 1rem;
  }
  .InspiredDis {
    width: 100%;
  }
  .InspiredCardSpace {
    margin-bottom: 2rem;
    width: 100%;
  }
  .InspiredCardRow {
    justify-content: flex-start;
  }
  .InspiredCardcontainer {
    width: 100%;
  }
  .InspiredDisTitle,
  .InspiredDishead1 {
    font-size: 16px;
  }
  .InspiredDisParagraph {
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .InspiredCardCol {
    align-items: center;
  }
  .InspiredContainer {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 8rem;
  }
  .InspiredCardView,
  .InspiredCardDes {
    display: none;
  }
  .InspiredCardDesMob {
    display: block;
    text-align: left;
    width: 24rem;
    padding-left: 0.5rem;
  }
  .InspiredCardView2 {
    opacity: 1;
    justify-content: end;
    padding-right: 1rem;
  }
  .InspiredCardRow {
    justify-content: space-around;
  }
  .InspiredCardImage {
    width: 310px;
    height: 460px;
  }
  .InspiredDis {
    width: 310px;
  }
  .InspiredCardcontainer:hover .InspiredCardOverlay {
    width: 310px;
    height: 460px;
  }
  .InspiredCardOverlay {
    width: 310px;
    height: 460px;
  }
  .InspiredCardText {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  /* .InspiredCardSpace{
    margin-bottom: 1rem;
  } */
  .InspiredCardcontainer {
    width: 100%;
  }
}
@media (min-width: 1081px) and (max-width: 1250px) {
  .LeftdivMain {
    padding-right: 4rem;
  }
  .InspiredCardSpace {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 1920px) and (max-height: 1080px) {
}
