.InspiredContainer {
  padding-top: 8rem;
  padding-left: 8.5rem;
  padding-bottom: 4rem;
  padding-right: 3rem;
}
.InspiredCardcontainer {
  position: relative;
  width: 50%;
}

.InspiredCardImage {
  display: block;
  height: auto;
  width: 400px;
  height: 500px;
}
.InspiredDis {
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    3.41deg,
    rgba(0, 0, 0, 0.8) 15.7%,
    rgba(26, 28, 59, 0) 140.06%
  );
  height: 130px;
  width: 400px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #fff;
}
.InspiredDisTitle {
  font-weight: 500;
  font-size: 18px;
  margin: 0%;
}
.InspiredDisParagraph {
  font-weight: 400;
  font-size: 16px;
  margin: 0%;
  padding-bottom: 1rem;
}
.InspiredCardOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: linear-gradient(
    3.41deg,
    rgba(0, 0, 0, 0.8) 15.7%,
    rgba(26, 28, 59, 0) 140.06%
  );
  opacity: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  width: 400px;
  transition: all 1s ease;
}
.InspiredDishead1 {
  font-weight: 700;
  font-size: 18px;
  margin: 0%;
}
.Inspired {
  width: 3rem;
  height: 2px;
  background: #ffffff;
  margin-bottom: 1rem;
}
.InspiredCardcontainer:hover .InspiredCardOverlay {
  height: 100%;
  border-radius: 20px;
  background: rgba(162, 29, 52, 0.9);
  transition: all 1s ease;
  opacity: 1;
}
.InspiredCardcontainer:hover .InspiredDis {
  opacity: 0;
}
.InspiredCardText {
  color: white;
  font-size: 20px;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
}
.InspiredCardCol {
  display: flex;
  flex-direction: column;
}
.InspiredCardSpace {
  margin-bottom: 3rem;
  margin-top: 2rem;
}
.InspiredCardDes {
  font-weight: 600;
  font-size: 45px;
  width: 20rem;
}
.InspiredCardDesMob {
  font-weight: 600;
  font-size: 45px;
  width: 20rem;
  display: none;
}
.InspiredCardRow {
  justify-content: center;
}
.InspiredCardView {
  padding-top: 3rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: end;
  padding-right: 2rem;
}
.InspiredCardView2 {
  padding-top: 3rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: end;
  padding-right: 2rem;
  opacity: 0;
}
.Viewall2 {
  margin: 0%;
  padding-right: 1rem;
  color: #a21d34;
}
.InspiredCardImg2 {
  height: 70px;
  transition: all 1s ease;
}
.InspiredCardImg2:hover {
  transform: scale(0.6);
  transition: all 1s ease;
}
.InspiredCardImg {
  height: 70px;
  transition: all 1s ease;
}
.InspiredCardImg:hover {
  transform: scale(0.6);
  transition: all 1s ease;
}
.InspiredCardText {
  color: #fff;
  margin: 0%;
}
.Viewall {
  margin: 0%;
  padding-right: 1rem;
  color: #a21d34;
}
@media (min-width: 320px) and (max-width: 450px) {
  .InspiredContainer {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
  }
  .InspiredCardCol {
    align-items: flex-start;
  }
  .InspiredCardView,
  .InspiredCardDes {
    display: none;
  }
  .InspiredCardDesMob {
    display: block;
  }
  .InspiredCardView2 {
    opacity: 1;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .InspiredCardCol {
    align-items: start;
  }
}
@media (min-width: 650px) and (max-width: 740px) {
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 1920px) and (max-height: 1080px) {
}
