.IntroContainer {
  background: linear-gradient(90deg, #1a1c3b 28.05%, #a21d34 148.07%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 450px) {
}
@media (min-width: 768px) and (max-width: 1080px) {
}
@media (min-width: 650px) and (max-width: 740px) {
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 1920px) and (max-height: 1080px) {
}
