.NftMenu {
  opacity: 0;
  transition: all 1s ease-in-out;
  position: fixed;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: 5.8rem;
  height: 100vh;
  left: 0px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  background: #ffffff;
  /* border-right: 1px solid #000; */
  border: 3px solid transparent;
  border-image: linear-gradient(99deg, #2e3159 28.05%, #a21d34 148.07%);
  border-image-slice: 1;
  border-top: none;
  border-bottom: none;
  border-left: none;
}
.BlockchainTechnologyText {
  font-weight: 400;
  width: 10rem;
  font-size: 14px;
  margin-bottom: 6rem;
  color: rgba(0, 0, 0, 0.8);
  transform: rotate(-90deg);
}
@media (min-width: 320px) and (max-width: 450px) {
  .NftMenu {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
}
@media (min-width: 650px) and (max-width: 740px) {
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 1920px) and (max-height: 1080px) {
}
