.NftMenu {
  opacity: 0;
  transition: all 1s ease-in-out;
  position: fixed;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: 5.8rem;
  height: 100vh;
  left: 0px;
  flex-direction: column;
  display: flex;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  background: #ffffff;
  /* border-right: 1px solid #000; */
  border-right: 2px solid transparent;
  border-image: linear-gradient(99deg, #2e3159 28.05%, #a21d34 148.07%);
  border-image-slice: 1;
  /* border-top: none;
  border-bottom: none;
  border-left: none; */
}

.BlockchainTechnologyText {
  font-weight: 400;
  width: 8rem;
  font-size: 14px;
  margin-bottom: 6rem;
  color: rgba(0, 0, 0, 0.8);
  transform: rotate(-90deg);
}

.hamburger .line {
  width: 40px;
  height: 3px;
  background-color: #2e3159;
  display: block;
  margin: 8px auto;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}
.MobifinxLogo {
  width: 3rem;
  padding-top: 2.5rem;
}

@media (min-width: 320px) and (max-width: 450px) {
  .NftMenu {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
  .NftMenu {
    display: none;
  }
}

@media (min-width: 650px) and (max-width: 767px) {
  .NftMenu {
    display: none;
  }
}

@media (min-width: 1200px) and (max-width: 1730px) {
}

@media (min-width: 1920px) and (max-height: 1080px) {
}

/* (this for Tab landscap) */
@media only screen and (min-width: 992px) {
  /* .NftMenu {
    display: flex;
    justify-content: space-evenly;
  } */
}

/* (this for large device) */
@media only screen and (min-width: 1200px) {
  .NftMenu {
    display: flex;
    justify-content: space-between;
  }
}
