.Parallax {
  background-image: url("/assets/images/Parallax.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 100vh; */
  padding-bottom: 4rem;
}
.Effect{
  padding-top: 4rem;
}
.Parallaxrow {
  display: flex;
  align-items: center;
  padding-top: 3rem;
  padding-left: 19rem;
  padding-bottom: 0rem;
}
.Pera {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}
.MainHeading {
  font-size: 100px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.Mainsection {
  padding: 4rem 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .Parallax {
    background-size: cover;
   
  }
  .Parallaxrow {
    padding-left: 1rem;
    padding-top: 2rem;
  }
  .MainHeading {
    font-size: 45px;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .Parallax {
    background-size: cover;
    background-position: center;
  }
  .Parallaxrow {
    padding-left: 1rem;
    padding-top: 2rem;
  }
  .MainHeading {
    font-size: 55px;
  }
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 650px) and (max-width: 740px) {
}
