.ProcessContainer {
  padding-top: 4.5rem;
  padding-left: 8.5rem;
  padding-bottom: 10rem;
  justify-content: center;
  /* height: 100vh; */
  background: rgba(26, 28, 60, 0.03);
}
.ProcessBoxesContainer {
  display: flex;
  justify-content: center;
}
.MainProcess {
  padding-top: 6rem;
  /* padding-right: 4rem; */
  display: flex;
  justify-content: center;
}
.MainPs {
  width: 50rem;
}
.ProcessHead {
  font-weight: 600;
  font-size: 14px;
  /* line-height: 70px; */
  text-align: center;
  color: #a21d34;
  margin: 0%;
  padding-bottom: 2rem;
}
.ProcessTitle {
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  color: #000000;
  margin: 0%;
}
.ProcessImage {
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.ProcessDot {
  padding: 0rem;
  border: 3px solid #e27625;
  width: 1px;
  border-radius: 100%;
}
.ProcessShadow {
  border-radius: 100%;
  padding: 1.5rem;
  height: 3.5rem;
  width: fit-content;
  background: #fff1e8;
  border: 0.8px solid #e27625;
}
.ProcessParagraph {
  /* padding-top: 1rem; */
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-align: center;
  /* font-weight: 600; */
}
.ProcessBox {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15rem;
  z-index: 5;
}
.ProcessLine {
  border: 1px dashed rgba(0, 0, 0, 0.1);
}
.ProcessLineContainer {
  display: flex;
  padding-bottom: 2rem;
  padding-top: 5rem;
  position: absolute;
  width: 39.5rem;
  margin-left: 5.8rem;
  padding-right: 2rem;
  flex-direction: column;
}
.ProcessBlink {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  z-index: 5;
  transition: all 1.3s ease;
}
.ProcessBox:hover .ProcessBlink {
  width: 9rem;
  height: 9rem;
  transition: all 1.3s ease;
}

.ProcessBox .ProcessBlink {
  transition: all 1.3s ease;
}

.ProcessBlinkMain {
  display: flex;
  height: 10rem;
  width: 10rem;
  align-items: center;
  justify-content: center;
}

.ProcessBlinkParent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.YourNeedContainer {
  padding-top: 5rem;
  text-align: center;
}
.YourNeedHeading {
  font-weight: 600;
  font-size: 22px;
  margin: 0%;
  padding-bottom: 2rem;
}
.YourNeedPContainer {
  display: flex;
  justify-content: center;
  height: 16px;
}
.YourNeedPContainer p {
  width: 44.93rem;
  
}
/*  */
@media (min-width: 320px) and (max-width: 767px) {
  .ProcessContainer {
    padding: 3rem 1rem;
    height: 80vh;
    padding-bottom: 0;
  }
  .ProcessTitle {
    font-size: 34px;
  }
  .MainPs {
    width: 100%;
  }
  .ProcessLineContainer {
    width: 74%;
    margin-left: 2.8rem;
  }
  .ProcessParagraph {
    padding-top: 1rem;
    width: 80px;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    display: none;
  }
  .ProcessBlinkMain {
    width: 4rem;
  }
  .ProcessBox:hover .ProcessBlink {
    width: 3rem;
    height: 3rem;
  }
  .YourNeedContainer {
    padding-top: 0rem;
  }
  .ProcessHead {
    padding-bottom: 2rem;
  }
  .MainProcess {
    padding-top: 0;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .ProcessContainer {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .ProcessLineContainer {
    width: 34.5rem;
  }
  .ProcessBoxesContainer {
    width: 44rem;
  }
  .YourNeedPContainer p{
    font-size: 18px;
  }
}
@media (min-width: 650px) and (max-width: 740px) {
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 1920px) and (max-height: 1080px) {
}
