.headline {
  position: fixed;
  font-size: 70px;
  font-weight: 600;
  color: #fff;
}
.SectionCards .SectionContent {
  padding-bottom: 1rem;
  padding-top: 6rem;
  text-align: center;
  background: #1a1c3c;
}
.SectionCards .SectionContent ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.SectionCards .SectionContent li {
  transform: translateZ(0);
  will-change: transform, opacity;
  height: 650px;
  position: sticky;
  top: calc(50vh + 52px - 215px - 40px);
}
.SectionCards .SectionContent li .CardContainer {
  position: absolute;
  top: 50px;
  /* left: 50%; */
  width: 750px;
  height: 530px;
  /* margin-left: -375px; */
  transform: translateZ(0);
}
.SectionCards .SectionContent li .CardContainer {
  width: 100%;
  height: 570px;
  /* margin-left: -412.5px; */
}
.SectionCards .SectionContent li {
  z-index: 1;
  background-color: #1a1c3c;
  font-size: 16px;
}
.SectionCards .SectionContent li .card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  background-repeat: no-repeat;
  transform-origin: top center;
  background-position: center center;
  box-shadow: 4px 12px 40px 6px rgba(0, 0, 0, 0.09);
}
.card01 {
  background: #ffff;
}
.card02 {
  background: #ffff;
}
.card03 {
  background: #ffff;
}
.card04 {
  background: #ffff;
}
.card05 {
  background: #ffff;
}
.card06 {
  background: #ffff;
}
.card07 {
  background: #ffff;
}
.card08 {
  background: #ffff;
}
.ProductDetails {
  color: #fff;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  text-align: justify;
}
.OurProductsHeading {
  font-weight: 600;
  font-size: 70px;
  color: #ffffff;
  position: sticky;
  top: 20px;
  margin: 0%;
  width: fit-content;
  padding-left: 8.5rem;
  padding-bottom: 4rem;
}
.Carddetail {
  width: 45%;
}
.ProductImages {
  text-align: end !important;
  padding-right: 4rem;
  display: flex;
  justify-content: end;
  align-items: center;
}
.ProductImages img {
  height: 22rem;
}
.outer {
}

.button {
  border-radius: 20px;
  /* width: 11rem; */
  background-position: right bottom !important;
  padding: 0.5rem 1rem;
  background-size: 200% 100% !important;
  cursor: pointer;
  transition: all 0.8s ease-out;
}
.OurProductsCardsMain:hover .button {
  opacity: 1;
  transition: all 0.8s ease;
}
.button:hover {
  color: #fff !important;
  background-position: left bottom !important;
}

.text {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  transition: all 0.6s ease-out;
  display: block;
}

.text:hover {
  color: #fff;
}
.highlight {
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 2rem;
  margin: 0%;
  padding-top: 1rem;
}
.question {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0%;
  padding-bottom: 0.5rem;
}
.tags {
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 1rem;
  width: 34.25rem;
}
.HRcontainer {
  display: flex;
  justify-content: end;
  align-items: center;
}
.HrBorder {
  color: rgb(255, 255, 255);
  width: 65% !important;
  /* float: right; */
  border: 0.5px solid;
}
.HRcontainer span {
  color: #fff;
  padding-right: 1rem;
  padding-left: 1rem;
}
.FollowerLight {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 80;
  background: radial-gradient(
    36.88% 29.95% at 44.17% 56.2%,
    #16155e 0%,
    rgba(22, 21, 94, 0) 100%
  );
  pointer-events: none;
  width: 1000px;
  height: 1000px;
  background: -webkit-radial-gradient(
    44.17% 56.2%,
    36.88% 29.95%,
    #16155e 0%,
    rgba(22, 21, 94, 0) 100%
  );
  background: -o-radial-gradient(
    44.17% 56.2%,
    36.88% 29.95%,
    #16155e 0%,
    rgba(22, 21, 94, 0) 100%
  );
  background: radial-gradient(
    36.88% 29.95% at 44.17% 56.2%,
    #16155e 0%,
    rgba(22, 21, 94, 0) 100%
  );
}
.Sublist {
  list-style: inside;
  height: auto !important;
  font-size: 14px;
  font-weight: 300;
  padding: 0.2rem 0;
}
.Productbutton {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 2rem;
}
.Producth4 {
  margin: 0 !important;
  font-size: 36px;
}
.List {
  padding: 0.5rem 0 !important ;
}
.Description {
  padding-bottom: 1rem;
  font-size: 16px;
  font-weight: 300;
}
.ExpText {
  padding-right: 5px;
}
.Explortxt {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .OurProductsHeading {
    font-weight: 600;
    font-size: 45px;
    color: #ffffff;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 1rem;
    padding-bottom: 3rem;
  }

  .SectionCards .SectionContent {
    padding-top: 4rem;
  }
  /* .SectionCards .SectionContent li {
    height: 150vh
  } */
  .tags {
    width: 100%;
  }
  .ProductDetails {
    padding: 0 1rem;
  }
  .Carddetail {
    width: 100%;
  }
  .SectionCards .SectionContent li {
    transform: translateZ(0);
    will-change: transform, opacity;
    height: 800px;
    position: sticky;
    top: calc(28vh + 52px - 215px - 40px);
  }
  .HrBorder {
    width: 100% !important;
    margin-left: 1rem;
  }
  .ProductImages {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center !important;
    padding-right: 0rem;
  }
  .Productbutton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
  }
  .ProductImages img {
    height: 12.6rem;
  }
  .button {
    font-size: 12px;
  }
  .Description {
    margin: 0;
    font-size: 14px;
  }
  .Producth4 {
    font-size: 25px;
  }
  .question {
    font-size: 14px;
  }
  .SectionCards .SectionContent li {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .OurProductsHeading {
    padding-left: 1rem;
    top: 125px;
  }
  .HrBorder {
    width: 90% !important;
  }
  .tags {
    width: 100%;
  }
  .ProductImages {
    text-align: center !important;
    padding-right: 0rem;
  }
  .SectionCards .SectionContent li .CardContainer {
    width: 100%;
    height: 650px;
    /* margin-left: -412.5px; */
  }
  .SectionCards .SectionContent li {
    height: 840px;
    /* font-size: 18px; */
  }
  .Description {
    margin: 0;
    padding-bottom: 1rem;
    /* font-size: 18px; */
  }
  .question {
    padding-bottom: 1rem;
  }
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 650px) and (max-width: 740px) {
}
