.OurProductsContainer {
  background: #1a1c3c;
  padding: 8rem 3rem 17rem 8.5rem;
}
.borderHide {
  border-bottom: none !important;
}
.OurProductsHeadContainer {
  display: flex;
  width: 80%;
}
.BtnContainer {
  justify-content: end;
  width: 100%;
}
.OurProductsCardsMain:hover .RequestDemo {
  opacity: 1;
  transition: all 1s ease;
}

.RequestDemo {
  opacity: 0;
  width: fit-content;
  font-weight: 400;
  font-size: 14px;
  width: 10rem;
  color: #ffffff;
  background: #a21d34;
  border-radius: 22px;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 1s ease;
}
.RequestDemo1 {
  display: none;
  opacity: 0;
  width: 2.5rem;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  background: #a21d34;
  border-radius: 22px;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 1s ease;
}
.RequestDemo:hover {
  box-shadow: 0px 0px 10px 0px #a21d34;
  transition: all 1s ease;
}
.RequestDemo1:hover {
  box-shadow: 0px 0px 10px 0px #a21d34;
  transition: all 1s ease;
}
.OurProductsHeading {
  width: 50%;
  font-weight: 600;
  font-size: 70px;
  color: #ffffff;
}
.OurProductsCardsContainer {
  padding-top: 6rem;
}
.OurProductsCard {
  width: 100%;
  align-items: end;
  display: flex;
  flex-direction: column;
}
/* ----card product */
.OurProductsCardsMain {
  border-top: 1px solid #ffffff;
  color: #ffffff;
  width: 75%;
  /* border-bottom: 1px solid #ffffff; */
}
.OurProductsCardSub {
  padding-top: 5rem;
  display: flex;
  padding-bottom: 5rem;
}
.OurProductsCardImage {
  padding-right: 5rem;
}
.OurProductsCardDetail {
  width: 100%;
}
.OurProductsHead {
}
.OurProductsParagraph {
  font-weight: 300;
  font-size: 16px;
  width: 26.4rem;
}
.LearnMore {
  transition: all 1s ease;
}
.LearnMore:hover {
  color: #a21d34;
  transition: all 1s ease;
}
.FollowerLight {
  pointer-events: none;
  width: 900px;
  height: 900px;
  background: -webkit-radial-gradient(
    44.17% 56.2%,
    36.88% 29.95%,
    #16155e 0%,
    rgba(22, 21, 94, 0) 100%
  );
  background: -o-radial-gradient(
    44.17% 56.2%,
    36.88% 29.95%,
    #16155e 0%,
    rgba(22, 21, 94, 0) 100%
  );
  background: radial-gradient(
    36.88% 29.95% at 44.17% 56.2%,
    #16155e 0%,
    rgba(22, 21, 94, 0) 100%
  );
  position: absolute;
  transform: translate(-50%, -50%);
}
.outer {
}

.button {
  border-radius: 20px;
  width: 11rem;
  padding: 0.5rem 1rem;
  opacity: 0;
  transition: all 0.8s ease-out;
}
.OurProductsCardsMain:hover .button {
  opacity: 1;
  transition: all 0.8s ease;
}
.button:hover {
  color: #fff !important;
  background-position: left bottom !important;
}

.text {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  transition: all 0.6s ease-out;
  display: block;
}

.text:hover {
  color: #fff;
}

@media (min-width: 320px) and (max-width: 450px) {
  .OurProductsContainer {
    padding: 3rem 1rem;
  }
  .OurProductsHeading {
    width: 100%;
    font-size: 50px;
  }
  .OurProductsCard {
    align-items: flex-start;
  }
  .OurProductsCardsMain {
    width: 100%;
  }
  .OurProductsHead {
    font-size: 16px;
  }
  .OurProductsCardImage {
    padding-right: 2rem;
  }
  .OurProductsCardImage img {
    height: 90px !important;
  }
  .OurProductsParagraph {
    font-size: 11px;
    width: 14.4rem;
    text-align: justify;
  }
  .RequestDemo {
    display: none;
  }
  .RequestDemo1 {
    display: block;
  }

  .OurProductsCardsMain:hover .RequestDemo1 {
    opacity: 1;
    transition: all 1s ease;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .OurProductsHeading {
    width: auto;
  }
  .OurProductsCard {
    align-items: center;
  }
  .OurProductsParagraph {
    width: 100%;
  }
  .OurProductsCardsMain {
    width: 100%;
  }
  .RequestDemo {
    display: none;
  }
  .RequestDemo1 {
    display: block;
  }

  .OurProductsCardsMain:hover .RequestDemo1 {
    opacity: 1;
    transition: all 1s ease;
  }
}
@media (min-width: 650px) and (max-width: 740px) {
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 1920px) and (max-height: 1080px) {
}
