.SoftwareDevelopmentExpertsContainer {
  background: linear-gradient(90deg, #1a1c3b 28.05%, #a21d34 148.07%);
  color: #ffffff;
  padding-top: 3.1rem;
  padding-left: 8.5rem;
  padding-bottom: 2.5rem;
}
.SoftwareDevelopmentExpertsHead {
}
.HomeMiniLine {
  width: 40px;
  padding: 0.1rem;
  margin-right: 1rem;
  border-bottom: 1px solid #ffffff;
}
.RequestDemoButton {
  width: fit-content;
  border: 1px solid #ffffff;
  padding: 0.5rem 1rem;
  color: #ffffff;
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-size: 16px;
  border-radius: 22px;
  background-image: linear-gradient(to top, #fff 50%, #fff 50%),
    linear-gradient(to top, #a21d34 50%, transparent 50%);

  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  -webkit-text-fill-color: transparent;
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s ease-in-out;
}
.RequestDemoButton:hover {
  background-position: bottom;
  border: 1px solid #a21d34;
  transition: all 1s ease;
}
.SoftwareDevelopmentExpertsSmallHead {
  display: flex;
  align-items: center;
}
.HomeSmallHeading {
  font-weight: 400;
  font-size: 20px;
}
.SoftwareDevelopmentExpertsRow {
  margin: 0%;
  align-items: center;
}
.SoftwareDevelopmentExpertsBigHeadingContainer {
  /* padding-top: 4rem;
  padding-bottom: 4rem; */
}
.SoftwareDevelopmentExpertsBigHeading {
  font-weight: 600;
  font-size: 4.5rem;
  padding-top: 6rem;
  width: 50rem;
  margin: 0%;

  padding-bottom: 4rem;
}
.SoftwareDevelopmentExpertsBtnCol {
  display: flex;
  justify-content: end;
  padding-right: 4rem;
}
/* .SoftwareDevelopmentExpertsSliderContainer {
  display: flex;
  align-items: center;
} */
.SoftwareDevelopmentExpertSliderHeading {
  display: flex;
  align-items: center;
  margin-left: -3rem;
  /* padding-left: 2rem; */
}
.SoftwareDevelopmentExpertSliderBtnLeft {
  padding-right: 1rem;
  transition: all 1s ease;
  height: 3rem;
}
.SoftwareDevelopmentExpertSliderBtnLeft:hover {
  transform: scale(0.9);
  transition: all 1s ease;
}
.SoftwareDevelopmentExpertSliderBtnRight {
  padding-right: 1rem;
  transition: all 1s ease;
  height: 3rem;
}
.SoftwareDevelopmentExpertSliderBtnRight:hover {
  transform: scale(0.9);
  transition: all 1s ease;
}
.SliderCard {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 17px;
  height: 200px;
  width: 190px !important;
  /* display: flex !important; */
  justify-content: left;
  text-align: left;
  cursor: pointer;
  align-items: flex-end;
  /* margin-left: 2rem; */
}

.SliderImg {
  width: 100%;
  height: 190px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.SliderCard p {
  padding-left: 1rem;
}
.SliderGround {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.Scrolldowncontainer {
  cursor: pointer;
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  animation: scrolldowntotop 4s ease-in 0s infinite normal;
  animation-direction: alternate;
}
@keyframes scrolldowntotop {
  0% {
    top: 10px;
  }
  25% {
    top: -10px;
  }
  50% {
    top: 10px;
  }
  75% {
    top: -10px;
  }
  100% {
    top: 10px;
  }
}
.ScrolldownCol {
  justify-content: flex-start;
  display: flex;
  align-items: end;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 4rem;
  margin-left: -3rem;
}
.ScrolldownText {
  margin: 0%;
  padding-left: 1rem;
}
.ImageDown {
  /* position: relative; */
  transform: rotate(90deg);
  /* animation: scrolldowntotop 4s ease-in 0s infinite normal;
  animation-direction: alternate; */
}
@media (min-width: 320px) and (max-width: 450px) {
  .HomeSmallHeading {
    font-size: 14px;
  }
  .HomeMiniLine {
    width: 27px;
    margin-right: 0.5rem;
  }
  .SoftwareDevelopmentExpertSliderBtnLeft,
  .SoftwareDevelopmentExpertSliderBtnRight {
    height: 40px;
    padding-right: 0.5rem;
  }
  .SoftwareDevelopmentExpertsContainer {
    padding-top: 6  .5rem;
    padding-left: 1rem;
    padding-bottom: 2.5rem;
  }
  .SoftwareDevelopmentExpertsBigHeadingContainer {
    padding-top: 4rem;
    padding-left: 0rem;
    padding-bottom: 3rem;
  }
  .SoftwareDevelopmentExpertsBigHeading {
    font-weight: 600;
    font-size: 3rem;
    width: 18.5rem;
    /* padding-top: 4rem; */
    /* padding-bottom: 5rem; */
  }

  .SoftwareDevelopmentExpertsBtnCol {
    justify-content: flex-end;
    margin-top: 0rem;
    padding-right: 1rem;
  }
  .SoftwareDevelopmentExpertsBigHeading {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .Scrolldowncontainer {
    display: none;
  }
  .RequestDemoButton {
    margin-right: -1rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .SliderCard {
    height: 160px;
    width: 165px !important;
  }
  .TextBtn {
    display: none;
  }
  .SliderImg {
    width: 90%;
  }
  .SoftwareDevelopmentExpertSliderHeading {
    padding-left: 1rem;
    width: 70%;
  }
  .SliderGround {
    padding-top: 0;
  }
  .SoftwareDevelopmentExpertsRow{
    margin-top: 3.3rem;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .Scrolldowncontainer {
    display: none;
  }
  .SoftwareDevelopmentExpertsBigHeading {
    font-size: 65px;
    width: 25rem;
  }
  .SoftwareDevelopmentExpertsBigHeadingContainer {
    padding-left: 0%;
  }
  .SoftwareDevelopmentExpertsContainer {
    padding-left: 2rem;
  }
  .SliderCard {
    height: 215px;
    width: 222px !important;
  }
}
@media (min-width: 650px) and (max-width: 740px) {
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 1920px) and (max-height: 1080px) {
}
