.SpecialityContainer {
  margin: 0%;
  display: flex;
  padding: 8rem 3rem 8rem 8.5rem;
  background: rgba(26, 28, 60, 0.03);
}
.SpecialityParagraph {
  font-weight: 500;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.12);
}
.CountRight {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: right;
}
.SpecialityBox {
  width: fit-content;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.Count {
  font-weight: 500;
  font-size: 50px;
  color: #2e3159;
}
.Text {
  font-weight: 500;
  font-size: 16px;
  color: #2e3159;
  width: 10.3rem;
}
.SpecialityBoard1 {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.SpecialityBoard2 {
  display: flex;
  align-items: center;
  width: 60%;
}
.Speciality {
  padding-left: 4rem;
  padding-right: 4rem;
}
@media (min-width: 320px) and (max-width: 450px) {
  .SpecialityContainer {
    padding: 3rem 1rem;
  }
  .SpecialityBoard1 {
    width: 100%;
  }
  .SpecialityBoard2 {
    width: 100%;
    text-align: center;
    padding-top: 2rem;
  }
  .Speciality {
    padding: 0%;
  }
  .SpecialityParagraph {
    font-size: 25px;
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
  .SpecialityBoard1 {
    width: 100%;
  }
  .SpecialityBoard2 {
    width: 100%;
    text-align: center;
    padding-top: 4rem;
  }
}
@media (min-width: 650px) and (max-width: 740px) {
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 1920px) and (max-height: 1080px) {
}
