.WhatWillYouGetWithUs {
  background: url("/assets/images/Whatwillyouget.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 8.5rem;
  padding-top: 4rem;
  padding-bottom: 10rem;
}

.WhatWillYouGetWithUsLeft {
  padding: 2rem;
  padding-left: 0;
}

.WhatWillYouGetWithUsLeft h2 {
  font-weight: 600;
  font-size: 50px;
  color: #fff;
  margin-bottom: 3rem;
}

.WhatWillYouGetText {
  cursor: pointer;
  color: #5f6076;
  transition: all 0.3s ease;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 1.3rem;
  padding-left: 0.7rem;
  border-left: 3px solid transparent;
}

.WhatWillYouGetText:hover,
.WhatWillYouGetTextActive {
  transition: all 0.3s ease;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 1.3rem;
  padding-left: 0.7rem;
  color: #fff;
  border-left: 3px solid #fff;
}

.SmallImage {
  width: 16rem;
  position: relative;
  bottom: 4.5rem;
  left: 15rem;
  height: 12rem;
}
.SmallImageAnim {
  animation: fadeInRight 0.9s ease;
  animation-direction: alternate;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-120px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes scrolldowntotop {
  0% {
    top: 10px;
  }
  25% {
    top: -10px;
  }
  50% {
    top: 10px;
  }
  75% {
    top: -10px;
  }
  100% {
    top: 10px;
  }
}
.BigImage {
  overflow-x: hidden;
}
.SmallImage img,
.BigImage img {
  height: 62vh;
  width: 100%;
  border-radius: 10px 0 0 10px;
}
.BigImage img {
  width: 150%;
  /* position: relative;
  right: 2rem; */
}
.WhatWillYouGetWithUsRight {
  padding: 0;
  position: relative;
  top: 4rem;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-bottom: 0rem;
}
@media (min-width: 320px) and (max-width: 767px) {
  .WhatWillYouGetWithUs {
    padding-left: 0;
    padding-bottom: 1rem;
  }
  .WhatWillYouGetWithUsLeft h2 {
    font-size: 35px;
  }
  .WhatWillYouGetWithUsLeft {
    padding: 1rem;
  }
  .SmallImage {
    width: 13rem;
    left: 4rem;
    bottom: 0%;
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
  .BigImage {
    padding-left: 1rem;
  }
  .BigImage img {
    width: 100%;
    height: auto;
  }
  .WhatWillYouGetWithUsRight {
    top: -2rem;
  }
  .SmallImage img {
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .WhatWillYouGetWithUs {
    padding-left: 1rem;
  }
  .WhatWillYouGetWithUs h2 {
    font-size: 39px;
  }
  .SmallImage img
{
  height: auto;
  width: 100%;
  border-radius: 10px 0 0 10px;
}
.BigImage img {
  width: 150%;
  height: auto;
}
.SmallImage {
  width: 16rem;
    position: relative;
    bottom: -5rem;
    left: 3rem;
    height: 12rem;
}
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 650px) and (max-width: 740px) {
}
