.UpComingEventsRow {
  background: rgba(162, 29, 52, 0.04);
  padding: 2rem 2rem 2rem 4rem;
  margin: 1rem 0;
}

.upcomingEventDesc,
.upcomingEventDate,
.upComingEventButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.upComingEventButton {
  padding: 0 0 0 0.3rem;
}

.upcomingEventDate h4 {
  font-size: 44px;
  font-weight: 500;
  margin: 0%;
}

.upcomingEventDate p {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  margin: 0%;
  font-size: 12px;
}

.upcomingEventDesc h6 {
  font-size: 18px;
  margin: 0%;
}
.upcomingEventDesc p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  margin: 0.5rem 0;
}

.UpComingEventsRegisterButton {
  color: #a21d34;
  border-color: #a21d34;
  padding: 0.3rem 1.5rem;
}

.UpComingEventsRegisterButton:hover {
  color: white;
  border-color: #a21d34;
  background-color: #a21d34;
  padding: 0.3rem 1.5rem;
}

.dateAndButtonRow {
  align-items: center;
  margin: 0 0 0.5rem;
}

/* mobile portrait */
@media screen and (max-width: 600px) {
  .UpComingEventsRow {
    padding: 1rem 1rem;
    margin: 1rem 0;
    /* position: relative; */
  }
  .upcomingEventDesc {
    margin: 0.2rem 0 1rem;
  }
  .upComingEventButton {
    align-items: flex-end;
  }
  .upcomingEventDate h4 {
    font-size: 32px;
  }
}
/* mobile landscape */
@media screen and (min-width: 600px) {
  .UpComingEventsRow {
    padding: 1.5rem 1rem;
    margin: 1rem 0;
  }
}

/* tablet portrait */
@media only screen and (min-width: 768px) {
}
/* tablet landscape */
@media only screen and (min-width: 992px) {
  .upComingEventButton {
    padding: 0 0 0 0.7rem;
  }
  .UpComingEventsRow {
    padding: 2rem 1rem 2rem 2rem;
  }
}
/* PC */
@media only screen and (min-width: 1200px) {
  .UpComingEventsRow {
    background: rgba(162, 29, 52, 0.04);
    padding: 2rem 2rem 2rem 4rem;
    margin: 1rem 0;
  }
  .upComingEventButton {
    padding: 0 0 0 0.3rem;
  }
}
