.newsHeadContainer {
  padding: 2.5rem 2.5rem 2rem 8.5rem;
}

/* mobile portrait */
@media screen and (max-width: 600px) {
  .newsHeadContainer {
    padding: 5.8rem 1rem 2rem 1rem;
  }
}
/* mobile landscape */
@media screen and (min-width: 600px) {
  .newsHeadContainer {
    padding: 5.8rem 1rem 2rem;
  }
}

/* tablet portrait */
@media only screen and (min-width: 768px) {
  .newsHeadContainer {
    padding: 6.5rem 1rem 3rem;
  }
}
/* tablet landscape */
@media only screen and (min-width: 992px) {
  .newsHeadContainer {
    padding: 2.5rem 2.5rem 2rem 8.5rem;
  }
}
/* PC */
@media only screen and (min-width: 1200px) {
  .newsHeadContainer {
    padding: 2.5rem 2.5rem 2rem 8.5rem;
  }
}
