.NewsImageCardContainer {
  padding: 1rem 1.5rem 1rem 7.8rem;
}
.NewsImageCard {
  position: relative;
  margin: 1rem 0.7rem;
}

.NewsImageCardText {
  padding: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    3.41deg,
    rgba(0, 0, 0, 0.8) 15.7%,
    rgba(26, 28, 59, 0) 140.06%
  );
  height: 160px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #fff;
}

.NewsImageCardTitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 0%;
}
.NewsImageCardParagraph {
  font-weight: 400;
  font-size: 16px;
  text-align: justify;
  margin: 0%;
  padding: 0 0 0.5rem;
}

.imageNewsRow {
  display: flex;
  flex-direction: row-reverse;
}
.NewsCardOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: linear-gradient(
    3.41deg,
    rgba(0, 0, 0, 0.8) 15.7%,
    rgba(26, 28, 59, 0) 140.06%
  );
  opacity: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  transition: all 0.5s ease;
}
.NewsDishead1 {
  font-weight: 700;
  font-size: 18px;
  margin: 0%;
}
.NewsInspire {
  width: 3rem;
  height: 2px;
  background: #ffffff;
  margin-bottom: 1rem;
}
.NewsImageCard:hover .NewsCardOverlay {
  height: 100%;
  border-radius: 15px;
  background: rgba(162, 29, 52, 0.9);
  transition: all 0.5s ease;
  opacity: 1;
}
.NewsImageCard:hover .NewsImageCardText {
  opacity: 0;
}
.NewsCardOverlayText {
  color: white;
  font-size: 20px;
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: absolute;
}

/* mobile portrait */
@media screen and (max-width: 600px) {
  .NewsImageCardContainer {
    padding: 0 1rem 0;
  }
  .NewsImageCard {
    margin: 0 0 1rem;
  }
  .NewsImageCardText {
    padding: 0.4rem 1rem;
    height: 80px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .NewsImageCardTitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    margin: 0%;
  }
  .NewsImageCardParagraph {
    font-weight: 400;
    font-size: 12px;
    text-align: justify;
    margin: 0;
    padding: 0;
  }
  .newsImage {
    height: 190px;
    overflow: hidden;
    border-radius: 15px;
  }
  .NewsImageCard:hover .NewsCardOverlay {
    display: none;
  }
  .NewsImageCard:hover .NewsImageCardText {
    opacity: 1;
  }
  .NewsCardOverlay {
    width: 100%;
  }
  .NewsCardOverlayText {
    padding: 1rem 1rem;
  }
  .NewsImageCardText {
    width: 100%;
  }
  .InspiredCardcontainer {
    width: 100%;
  }
  .NewsImageCardTitle {
    font-size: 16px;
  }
  .NewsImageCardParagraph {
    padding-bottom: 0.5rem;
  }
}
/* mobile landscape */
@media screen and (min-width: 600px) {
  .NewsImageCardContainer {
    padding: 0 1rem 0;
  }
  .NewsImageCard {
    margin: 0 0 1rem;
  }
  .NewsImageCardText {
    padding: 0.4rem;
    height: 80px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .NewsImageCardTitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    margin: 0%;
  }
  .NewsImageCardParagraph {
    font-weight: 400;
    font-size: 12px;
    text-align: justify;
    margin: 0 0 0.2rem;
    padding: 0;
  }
  .newsImage {
    height: 280px;
    overflow: hidden;
    border-radius: 15px;
  }
}
/* tablet portrait */
@media only screen and (min-width: 768px) {
  .NewsImageCardContainer {
    padding: 0 1rem 0;
  }
  .NewsImageCard {
    margin: 0 0 2rem;
  }
  .NewsImageCardText {
    padding: 1.5rem;
    height: 160px;
  }
  .NewsImageCardTitle {
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    margin: 0%;
  }
  .NewsImageCardParagraph {
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    margin: 0%;
    padding: 0;
  }
  .NewsImageCardText {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .newsImage {
    height: 470px;
    overflow: hidden;
    border-radius: 15px;
  }
  .NewsCardOverlay {
    width: 100%;
  }
  .NewsCardOverlayText {
    padding: 1rem 1rem;
  }
  .NewsImageCardText {
    width: 100%;
  }

  .NewsImageCardTitle {
    font-size: 16px;
  }
  .NewsImageCardParagraph {
    padding-bottom: 0.5rem;
  }
}
/* tablet landscape */
@media only screen and (min-width: 992px) {
  .NewsImageCardContainer {
    padding: 1rem 1.5rem 1rem 7.8rem;
  }
  .NewsImageCard {
    position: relative;
    margin: 1rem 0.7rem;
  }
  .NewsImageCardText {
    padding: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      3.41deg,
      rgba(0, 0, 0, 0.8) 15.7%,
      rgba(26, 28, 59, 0) 140.06%
    );
    height: 160px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #fff;
  }
  .NewsImageCardTitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin: 0%;
  }
  .NewsImageCardParagraph {
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    margin: 0%;
    padding: 0 0 0.5rem;
  }
  .newsImage {
    height: auto;
  }
}
/* PC */
@media only screen and (min-width: 1200px) {
  .NewsImageCardContainer {
    padding: 4rem 1.5rem 0.4rem 7.8rem;
  }
  .NewsImageCard {
    position: relative;
    margin: 1rem 0.7rem;
  }

  .NewsImageCardText {
    padding: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(
      3.41deg,
      rgba(0, 0, 0, 0.8) 15.7%,
      rgba(26, 28, 59, 0) 140.06%
    );
    height: 160px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #fff;
  }

  .NewsImageCardTitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin: 0%;
  }
  .NewsImageCardParagraph {
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    margin: 0%;
    padding: 0 0 0.5rem;
  }

  .imageNewsRow {
    display: flex;
    flex-direction: row-reverse;
  }
  .newsImage {
    height: 55vh;
    overflow: hidden;
    border-radius: 15px;
  }
}

@media only screen and (min-width: 1800px) {
  .newsImage {
    height: 70vh;
    overflow: hidden;
    border-radius: 15px;
  }
}
