.exploreWorkMainContainer {
  padding: 5rem 0rem 3rem 8.5rem;
}

.exploreWorkDiv {
  justify-content: space-between;
}

.sideHeading {
  margin-top: 2rem;
  padding-right: 2rem;
  justify-content: end;
}

.sideHeading p {
  color: rgba(18, 18, 18, 0.6);
  transform: rotate(270deg);
  margin-left: -2.7rem;
  padding-bottom: 9rem;
  letter-spacing: 2px;
  width: 15rem;
}

.imageContRow {
  margin: 0 0 2rem;
}

.explorefirstpart {
  margin: 0 2rem 0 0;
}

.groupSmImage {
  display: flex;
  justify-content: space-between;
  width: 33vw;
}

.groupSmImage div {
  width: 15vw;
}

.workPlacesBgImage {
  display: flex;
  justify-content: end;
  width: 33vw;
  margin: 0 0 0 2rem;
}

.workPlacesSecBgImage {
  width: 33vw;
}

.workPlacesSecBgImage {
  margin: 0 2rem 0 0;
}

.ctaRow {
  display: flex;
}

.ctaText h3 {
  font-size: 4rem;
  width: 50vw;
  font-weight: 600;
  margin: 2rem 0 0;
}

.ctaButton {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 60vw;
  color: #a21d34;
  margin: -2rem 0 0;
}

.ctaButton p {
  margin: 0 1rem 0 0;
}

.ctaButton img {
  transform: scale(0.7);
  transition: transform 1s ease-in-out;
}
.ctaButton img:hover {
  transform: scale(0.9);
}

/* Mobile Portrait */
@media screen and (max-width: 600px) {
  .ExploreMobifinxSideHeading {
    display: none;
  }
  .exploreWorkMainContainer {
    padding: 2rem 0 0;
  }
  .imageContainer {
    height: auto;
  }
  .imageContRow {
    width: 91vw;
    margin: auto;
  }
  .imageSecondRow {
    flex-direction: column-reverse;
    margin: auto;
    width: 91vw;
  }
  .groupSmImage {
    width: 91vw;
    justify-content: space-between;
  }
  .groupSmImage div {
    width: 42.5vw;
  }
  .workPlacesBgImage {
    width: 91vw;
    margin: 1.6rem 0;
  }
  .workPlacesSecBgImage {
    width: 91vw;
    margin: 1.6rem 0 0;
  }
  .ctaRow {
    width: 90%;
    margin: 2.5rem 1rem 0;
  }
  .ctaText h3 {
    font-size: 2.2rem;
    width: 88.5vw;
    font-weight: 600;
    margin: 0;
  }
  .ctaButton {
    width: 100%;
    margin: 0 0 2.6rem;
  }
  .ctaButton p {
    margin: 0;
    font-size: 1.2rem;
  }
  .ctaButton img {
    transform: scale(0.5);
  }
  .ctaButton img:hover {
    transform: scale(0.6);
  }
}

/* Mobile Landscape */
@media screen and (min-width: 600px) {
  .exploreWorkMainContainer {
    padding: 5rem 1rem 4rem;
  }
  .ExploreMobifinxSideHeading {
    display: none;
  }
  .imageContainer {
    width: 95vw;
    margin: auto;
  }
  .groupSmImage {
    display: flex;
    width: 95vw;
    justify-content: space-between;
  }

  .groupSmImage div {
    width: 45vw !important;
  }

  .workPlacesBgImage {
    display: flex;
    justify-content: end;
    width: 95vw;
    margin: 2.5rem 0 !important;
  }
  .workPlacesSecBgImage {
    width: 95vw;
    margin: 2.5rem 0 0 !important;
  }

  .imageSecondRow {
    flex-direction: column-reverse;
  }
  .ctaText h3 {
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0 0;
  }
  .ctaButton {
    width: 100vw;
  }
}

/* Tablet Portrait */
@media screen and (min-width: 768px) {
  .exploreWorkMainContainer {
    padding: 4rem 0 4rem;
  }
  .sideHeading {
    width: 95vw;
    margin: auto;
  }
  .sideHeading p {
    margin-left: 0rem;
    padding-bottom: 0;
    transform: rotate(0deg);
  }
  .imageContRow {
    flex-direction: column;
    margin: auto;
    width: 95vw;
  }
  .imageContainer {
    height: auto;
  }
  .imageSecondRow {
    flex-direction: column-reverse;
    margin: auto;
    width: 95vw;
  }
  .groupSmImage {
    width: 95vw;
    justify-content: space-between;
  }
  .groupSmImage div {
    width: 33vh;
  }
  .workPlacesBgImage {
    width: 95vw;
    margin: 3.5rem 0;
  }
  .workPlacesSecBgImage {
    width: 95vw;
    margin: 3.5rem 0 0;
  }

  .ctaRow {
    width: 95vw;
    margin: 2.5rem auto 0;
  }
  .ctaButton {
    width: 90vw;
    margin: 3rem 0 2.6rem;
  }
  .ctaText h3 {
    font-size: 4.4rem;
    width: 95vw;
    font-weight: 600;
    margin: auto;
  }
  .ctaButton p {
    margin: 0 1rem 0 0;
    font-size: 1.8rem;
  }
  .ctaButton img {
    transform: scale(0.9);
  }
  .ctaButton img:hover {
    transform: none;
  }
}

/* Tablet Landscape */
@media (min-width: 992px) {
  .exploreWorkMainContainer {
    padding: 6rem 2.5rem 4rem 8rem;
    overflow: hidden;
  }
  .groupSmImage div {
    width: 19vw !important;
  }
  .groupSmImage {
    width: 41vw !important;
  }
  .workPlacesBgImage {
    display: flex;
    justify-content: end;
    width: 41vw;
    margin: 0 0 0 2.3rem !important;
  }
  .workPlacesSecBgImage {
    width: 41vw;
    margin: 0 2.3rem 0 0 !important;
  }
  .imageContRow {
    flex-direction: row;
    align-items: center;
    margin: 0 0 2.3rem;
    width: auto;
  }
  .imageSecondRow {
    flex-direction: row;
    align-items: center;
    width: auto;
  }
  .ctaRow {
    width: auto;
    margin: 2.5rem 0 0;
  }
  .ctaText {
    width: 50vw;
  }
  .ctaText h3 {
    font-size: 4rem;
    width: auto;
    font-weight: 600;
  }
  .ctaButton {
    width: auto;
    margin: rem 0 1rem;
    margin-left: 10rem;
  }
  .ctaButton p {
    margin: 0 1.5rem 0 0;
    font-size: 1.2rem;
  }
  .ctaButton img {
    transform: scale(1);
  }
  .ctaButton img:hover {
    transform: scale(1);
  }
}

@media screen and (min-width: 1200px) {
  .exploreWorkMainContainer {
    padding: 5rem 0rem 3rem 8.5rem;
  }

  .exploreWorkDiv {
    justify-content: space-between;
  }
  .ExploreMobifinxSideHeading {
    display: block;
  }

  .imageContainer {
    width: 100%;
  }

  .imageContRow {
    margin: 0 0 3rem;
    flex-direction: row;
    width: initial;
  }
  .imageSecondRow {
    flex-direction: row;
    margin: auto;
    width: initial;
  }

  .explorefirstpart {
    margin: 0 2rem 0 0;
  }

  .groupSmImage {
    display: flex;
    justify-content: space-between;
    width: 33vw !important;
  }

  .groupSmImage div {
    width: 15vw !important;
  }

  .workPlacesBgImage {
    display: flex;
    justify-content: end;
    width: 33vw !important;
    margin: 0 0 0 3rem !important;
  }

  .workPlacesSecBgImage {
    width: 33vw !important;
  }

  .workPlacesSecBgImage {
    margin: 0 3rem 0 0 !important;
  }

  .ctaRow {
    display: flex;
    width: 100%;
  }

  .ctaText {
    width: fit-content;
  }

  .ctaText h3 {
    font-size: 4rem;
    width: 50vw;
    font-weight: 600;
    margin: 2rem 0 0;
  }

  .ctaButton {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 60vw;
    color: #a21d34;
    margin: -2rem 0 0;
  }

  .ctaButton p {
    margin: 0 1rem 0 0;
  }

  .ctaButton img {
    transform: scale(0.7);
    transition: transform 0.5s ease;
  }
  .ctaButton img:hover {
    transform: scale(0.9);
  }
}
