.exploreWorkMainContainer {
  padding: 5rem 0rem 3rem 8.5rem;
}

.exploreWorkDiv {
  justify-content: space-between;
}

.sideHeading {
  margin-top: 2rem;
  padding-right: 2rem;
  justify-content: end;
}

.sideHeading p {
  color: rgba(18, 18, 18, 0.6);
  transform: rotate(270deg);
  margin-left: -2.7rem;
  padding-bottom: 9rem;
  letter-spacing: 2px;
  width: 15rem;
}

.imageContRow {
  margin: 0 0 2rem;
}

.explorefirstpart {
  margin: 0 2rem 0 0;
}

.groupSmImage {
  display: flex;
  width: 33vw;
  justify-content: space-between;
}

.groupSmImage img {
  width: 15vw;
}

.workPlacesBgImage {
  display: flex;
  justify-content: end;
  width: 33vw;
  margin: 0 0 0 2rem;
}

.workPlacesSecBgImage {
  width: 33vw;
}

.workPlacesSecBgImage {
  margin: 0 2rem 0 0;
}

.ctaRow {
  display: flex;
}

.ctaText h3 {
  font-size: 4rem;
  width: 50vw;
  font-weight: 600;
  margin: 2rem 0 0;
}

.ctaButton {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 60vw;
  color: #a21d34;
  margin: -2rem 0 0;
}

.ctaButton p {
  margin: 0 1rem 0 0;
}

.ctaButton img {
  transform: scale(0.7);
  transition: transform 0.5s ease;
}
.ctaButton img:hover {
  transform: scale(0.9);
}

/* Mobile Portrait */
@media screen and (max-width: 600px) {
  .sideHeading {
    display: none;
  }
  .exploreWorkMainContainer {
    padding: 2rem 0 0;
  }
  .imageContainer {
    height: auto;
  }
  .imageContRow {
    width: 88.5vw;
    margin: auto;
  }
  .imageSecondRow {
    flex-direction: column-reverse;
    margin: auto;
    width: 88.5vw;
  }
  .groupSmImage {
    width: 88.5vw;
    justify-content: space-between;
  }
  .groupSmImage img {
    width: 40.8vw;
  }
  .workPlacesBgImage {
    width: 88.5vw;
    margin: 1.6rem 0;
  }
  .workPlacesSecBgImage {
    width: 88.5vw;
    margin: 1.6rem 0 0;
  }
  .ctaRow {
    width: 88.5vw;
    margin: 2.5rem auto 0;
  }
  .ctaText h3 {
    font-size: 2.2rem;
    width: 88.5vw;
    font-weight: 600;
  }
  .ctaButton {
    width: 88.5vw;
    margin: 3rem 0 2.6rem;
  }
  .ctaButton p {
    margin: 0 1.5rem 0 0;
    font-size: 1.2rem;
  }
  .ctaButton img {
    transform: scale(1);
  }
  .ctaButton img:hover {
    transform: scale(1);
  }
}

/* Mobile Landscape */
@media screen and (min-width: 600px) and (max-width: 768px) {
  .exploreWorkMainContainer {
    padding: 5rem 0rem 3rem 4rem;
  }
  .groupSmImage {
    display: flex;
    width: 60vw;
    justify-content: space-between;
  }

  .groupSmImage img {
    width: 28vw;
  }

  .workPlacesBgImage {
    display: flex;
    justify-content: end;
    width: 60vw;
    margin: 0 0 0 2rem;
  }
  .workPlacesSecBgImage {
    width: 57vw;
  }
  .workPlacesSecBgImage {
    margin: 0 3.5rem 0 0;
  }
  .ctaText h3 {
    font-size: 4rem;
    width: 100vw;
    font-weight: 600;
    margin: 2rem 0 0;
  }
  .ctaButton {
    width: 100vw;
  }
}

/* Tablet Portrait */
@media (min-width: 768px) and (max-width: 992px) {
  .exploreWorkMainContainer {
    padding: 4rem 0 4rem;
  }
  .sideHeading {
    width: 80vw;
    margin: auto;
  }
  .sideHeading p {
    margin-left: 0rem;
    padding-bottom: 0;
    transform: rotate(0deg);
  }
  .imageContRow {
    flex-direction: column;
    margin: auto;
    width: 80vw;
  }
  .imageContainer {
    height: auto;
  }
  .imageSecondRow {
    flex-direction: column-reverse;
    margin: auto;
    width: 80vw;
  }
  .groupSmImage {
    width: 80vw;
    justify-content: space-between;
  }
  .groupSmImage img {
    width: 37.2vw;
  }
  .workPlacesBgImage {
    width: 80vw;
    margin: 2.9rem 0;
  }
  .workPlacesSecBgImage {
    width: 80vw;
    margin: 2.9rem 0 0;
  }

  .ctaRow {
    width: 80vw;
    margin: 2.5rem auto 0;
  }
  .ctaButton {
    width: 80vw;
    margin: 3rem 0 2.6rem;
  }
  .ctaText h3 {
    font-size: 4.4rem;
    width: 80vw;
    font-weight: 600;
    margin: auto;
  }
  .ctaButton p {
    margin: 0 4rem 0 0;
    font-size: 1.8rem;
  }
  .ctaButton img {
    transform: scale(1.5);
  }
  .ctaButton img:hover {
    transform: scale(1.5);
  }
}

/* Tablet Landscape */
@media only screen and (min-width: 992px) {
}

@media (min-width: 1300px) and (max-width: 1900px) {
  .imageContainer {
    grid-row-gap: 2.5rem;
  }
  .groupSmImage {
    display: flex;
    width: 34vw;
    justify-content: space-between;
  }

  .groupSmImage img {
    width: 16vw;
  }

  .workPlacesBgImage {
    width: 34vw;
  }

  .workPlacesSecBgImage {
    width: 34vw;
  }
}
