.lifeMobifinxMainContainer {
  padding: 5rem 0rem 3rem 8.5rem;
}

.lifeAtMobifinxSideHeading {
  padding: 0 1rem 0 0;
}

.rightText {
  width: 53vw;
}

.rightText h3 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 4rem;
}

.rightText p {
  margin: 3rem 0 5rem;
}

/* Mobile Portrait */
@media screen and (max-width: 600px) {
  .lifeMobifinxMainContainer {
    padding: 3rem 0 1rem 1rem;
    overflow: hidden;
  }
  .lifeAtMobifinxSideHeading {
    display: none;
  }
  .rightText {
    width: 93vw;
  }

  .rightText h3 {
    /* width: 90vw; */
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
  }

  .rightText p {
    font-size: 0.8rem;
    margin: 1rem 0 2rem;
    text-align: justify;
    padding-right: 1rem;
  }
}

/* Mobile Landscape */
@media screen and (min-width: 600px) {
  .lifeMobifinxMainContainer {
    padding: 5rem 0 3rem 1rem !important;
    overflow: hidden;
  }
  .lifeAtMobifinxSideHeading {
    display: none;
  }

  .rightSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .rightText {
    width: 88vw;
  }
  .rightText h3 {
    font-size: 35px;
    line-height: 35px;
  }
  .rightText p {
    margin: 1rem 0 2rem;
    font-size: 1rem;
  }
}

/* Tablet Portrait */
@media only screen and (min-width: 768px) {
  .lifeMobifinxMainContainer {
    padding: 3rem 0 3rem 1rem !important;
  }
  .rightSection {
    flex-direction: column;
  }
  .rightText {
    width: 95vw !important;
  }
  .rightText h3 {
    width: 90vw;
    font-size: 50px;
    line-height: 4rem;
    text-align: left;
  }
  .rightText p {
    width: 95vw;
    font-weight: 400;
    font-size: 16px;
    color: #2e3159;
    font-style: normal;
    margin: 0%;
    text-align: left;
    margin: 1.5rem 0;
  }
  .sideHeading {
    display: none;
  }
  .rightImage {
    width: initial;
  }
}

/* Tablet Landscape */
@media only screen and (min-width: 992px) {
  .lifeMobifinxMainContainer {
    padding: 5rem 0 3rem 8rem !important;
  }
  .sideHeading {
    margin-top: 0;
    padding-right: 0;
  }
  .sideHeading p {
    transform: rotate(0deg);
    margin-left: 0;
    margin-top: 0rem;
    padding-bottom: 0rem;
  }
  .rightText {
    width: auto !important;
    padding: 0 2rem 0 0;
  }
  .rightText h3 {
    text-align: left;
    width: 60vw;
  }
  .rightText p {
    width: initial;
    margin: 3rem 0;
    text-align: justify;
    width: 50rem;
  }
  .rightImage {
    display: flex !important;
    justify-content: right !important;
    padding: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .lifeMobifinxMainContainer {
    padding: 5rem 0rem 0rem 8.5rem !important;
    overflow: hidden;
  }
  .lifeAtMobifinxSideHeading {
    display: block;
  }

  /* .rightText {
    width: 50vw !important;
  } */

  .rightText h3 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 4rem;
    width: 100%;
  }

  .rightText p {
    margin: 3rem 0 5rem;
    width: 55rem;
  }
  .rightImage {
    text-align: -webkit-right;
    width: 100%;
    padding: 0;
  }
  .CareeraImaganim:hover {
    transform: scale(1.1) !important;
    transition: all 0.5s ease;
  }
  .CareerImgdiv {
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
