.Box {
  height: 10vh !important;
  width: 10vh !important;
  background-color: aquamarine;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 100%;
  text-align: center;
}
.Box p {
  font-size: small;
}
.Main {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
