.Box {
  height: 10vh !important;
  width: 10vh !important;
  background-color: aquamarine;
  display: flex !important;
  align-items: center !important;
  border-radius: 100%;
  text-align: center;
}
.Box p {
  font-size: small;
}
.Main {
  display: flex !important;
}
.SliderContainer {
  height: 100vh;
  display: flex;
  position: fixed;
  justify-content: center !important;
  /* align-items: center; */
}
