@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
  /* user-select: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* cursor: none !important; */
  /* overflow-x: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "Jost", sans-serif;
  box-sizing: border-box;
}

.fadeoutcss {
  animation: fade-out 1s;
}
.react-tel-input {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  position: relative;
  width: fit-content !important;
  display: flex !important;
  align-items: center !important;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}
.react-tel-input .flag-dropdown {
  position: absolute;
  bottom: 0;
  padding: 0;
  border: none;
  height: 35px;
  background-color: transparent !important;
  border: none !important;
  border-radius: 3px 0 0 3px;
  top: 12% !important;
}
.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background-color: transparent !important;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #cacaca !important;
  outline: 0;
  box-shadow: none !important;
}
.react-tel-input .form-control {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0% !important;
  width: 15rem !important;
  padding-bottom: 1rem;
}
.form-control {
  border-radius: 0% !important;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
@keyframes colorchange {
  0% {
    box-shadow: 0px 0px 10px 0px rgba(201, 76, 151, 1);
  }
  25% {
    box-shadow: 0px 0px 10px 0px rgba(226, 118, 37, 1);
  }
  50% {
    box-shadow: 0px 0px 10px 0px rgba(0, 172, 215, 1);
  }
  75% {
    box-shadow: 0px 0px 10px 0px rgba(63, 224, 197, 1);
  }
  100% {
    box-shadow: 0px 0px 10px 0px rgba(161, 153, 255, 1);
  }
}

/* .slick-slider {
  padding: 0% !important;
} */
/* the slides */

/* .SliderGroundCss .slick-initialized .slick-slide {
  width: 245px !important;
} */
/*  do not delete  */
.scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  will-change: transform;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #323232;
  border-radius: 20px;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
.row {
  --bs-gutter-x: 0rem !important;
}
/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background:;
} */

/* ==================================== Accodian css ============================================== */

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 16px !important;
  font-weight: 500 !important;
  color: black !important;
  text-align: left;
  background-color: #f5f5f5 !important;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    border-radius 0.15s ease;
}
.accordion-button:not(.collapsed) {
  color: #000000 !important;
  background-color: #f5f5f5 !important;
  box-shadow: inset 0 -1px 0 rgb(255 255 255 / 13%) !important;
}
.accordion-button:focus {
  z-index: 3;
  border-color: #ffffff !important;
  outline: 0;
  box-shadow: none !important;
}
.accordion-flush .accordion-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  padding: 1rem 0 !important;
}
.accordion-item {
  background-color: #f5f5f5 !important;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
/* ==================================== Accodian css ============================================== */
.offcanvas {
  transform: none;
  margin-top: 4.3rem;
}
.offcanvas-backdrop {
  background: none !important;
}
.offcanvas-start {
  width: 100% !important;
}
.offcanvas-body {
  padding: 0% !important;
}

/* 1.MOBILE , 2.TABLET , 3.PORTRAIT ,4.  */
@media (min-width: 320px) and (max-width: 450px) {
  .react-tel-input {
    padding: 0 !important;
  }

  .slick-slide img {
    margin-top: 0rem;
    /* height: 90%; */
  }
  .react-tel-input .flag-dropdown {
    top: -15% !important;
  }
  .react-tel-input .form-control {
    width: 20rem !important;
  }
  .accordion-button {
    padding-left: 0% !important;
    padding-right: 0% !important;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .slick-slider {
    padding: 0% !important;
  }
  /* the slides */
  .slick-slide {
    margin: 0px 10px !important;
    /* padding-right: 5rem; */
  }
  .SliderGroundCss .slick-initialized .slick-slide {
    width: 16rem !important;
  }
  .slick-slide img {
    margin-top: -1rem;
    height: 90%;
  }
}
@media (min-width: 650px) and (max-width: 740px) {
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 1920px) and (max-height: 1080px) {
}
