/* @import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
@import "/assets/fonts/jost-Font-Stylesheet.css";

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: auto !important;
  overscroll-behavior-y: none;
  /* user-select: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* cursor: none !important; */
  /* overflow-x: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "Jost", sans-serif;
  box-sizing: border-box;
}

.mobifinxlogo {
  padding-top: 1.5rem;
  width: 50px;
}

/* =====================MENU HAMBURGER ICON=================== */

#hamburger-12.is-active .lineHam:nth-child(1) {
  opacity: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

#hamburger-12.is-active .lineHam:nth-child(3) {
  opacity: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

/* =====================MENU HAMBURGER ICON=================== */

.fadeoutcss {
  animation: fade-out 1s;
}

.react-tel-input {
  font-family: "Jost", sans-serif !important;
  font-size: 15px;
  position: relative;
  width: fit-content !important;
  display: flex !important;
  align-items: center !important;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.react-tel-input .flag-dropdown {
  position: absolute;
  bottom: 0;
  padding: 0;
  border: none;
  height: 35px;
  background-color: transparent !important;
  border: none !important;
  border-radius: 3px 0 0 3px;
  top: 12% !important;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background-color: transparent !important;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #cacaca !important;
  outline: 0;
  box-shadow: none !important;
}

.react-tel-input .form-control {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0% !important;
  width: 15rem !important;
  padding-bottom: 1.3rem;
}

.form-control {
  border-radius: 0% !important;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    display: none;
  }
}

@keyframes colorchange {
  0% {
    box-shadow: 0px 0px 10px 0px rgba(201, 76, 151, 1);
  }

  25% {
    box-shadow: 0px 0px 10px 0px rgba(226, 118, 37, 1);
  }

  50% {
    box-shadow: 0px 0px 10px 0px rgba(0, 172, 215, 1);
  }

  75% {
    box-shadow: 0px 0px 10px 0px rgba(63, 224, 197, 1);
  }

  100% {
    box-shadow: 0px 0px 10px 0px rgba(161, 153, 255, 1);
  }
}

.fade-in-left-anim {
  animation: fadeInLeft 1s ease-in-out;
  animation-delay: 5ms;
}

@-webkit-keyframes fadeInLeft {
  0% {
    transform: translateX(-1000px);
  }

  100% {
    transform: translateX(0px);
  }
}

.fade-in-left-anim2 {
  animation: fadeInLeft2 1s ease-in-out;
  animation-delay: 10ms;
}

@-webkit-keyframes fadeInLeft2 {
  0% {
    transform: translateX(1000px);
  }

  100% {
    transform: translateX(0px);
  }
}

.fade-in-left-anim2-remove {
  animation: fadeInLeft2remove 1s ease-in-out;
  animation-delay: 10ms;
}

@-webkit-keyframes fadeInLeft2remove {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(1000px);
  }
}

.fade-in-left-anim-remove {
  animation: fadeInLeftremove 1s ease-in-out;
  animation-delay: 5ms;
}

@-webkit-keyframes fadeInLeftremove {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-1000px);
  }
}

.fade-down {
  animation: fadedown 1s ease-in-out;
  animation-delay: 10ms;
}

@-webkit-keyframes fadedown {
  0% {
    transform: translateY(-100vh);
  }

  100% {
    transform: translateY(0px);
  }
}

.fade-down-remove {
  animation: fadedownremove 1s ease-in-out;
  animation-delay: 10ms;
}

@-webkit-keyframes fadedownremove {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-100vh);
  }
}

.fade-in-anim {
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* .slick-slider {
  padding: 0% !important;
} */
/* the slides */

/* .SliderGroundCss .slick-initialized .slick-slide {
  width: 245px !important;
} */
/*  do not delete  */
.scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  will-change: transform;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #323232;
  border-radius: 20px;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.row {
  --bs-gutter-x: 0rem !important;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background:;
} */

/* ==================================== Accodian css ============================================== */

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 0.25rem !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  color: black !important;
  text-align: left;
  background-color: #f5f5f5 !important;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    border-radius 0.15s ease;
}

.accordion-button:not(.collapsed) {
  color: #000000 !important;
  background-color: #f5f5f5 !important;
  box-shadow: inset 0 -1px 0 rgb(255 255 255 / 13%) !important;
}

.accordion-button:focus {
  z-index: 3;
  border-color: #ffffff !important;
  outline: 0;
  box-shadow: none !important;
}

.accordion-flush .accordion-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  padding: 1rem 0 !important;
}

.accordion-item {
  background-color: #f5f5f5 !important;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

/* ==================================== Accodian css ============================================== */
.offcanvas {
  transform: none;
  margin-top: 4.6rem;
}

.offcanvas-backdrop {
  background: none !important;
}

.offcanvas-start {
  width: 100% !important;
}

.offcanvas-body {
  padding: 0% !important;
}

.accordion-body {
  padding: 1rem 0.25rem !important;
}

/* 1.MOBILE , 2.TABLET , 3.PORTRAIT ,4.  */
@media (min-width: 320px) and (max-width: 767px) {
  .react-tel-input {
    padding: 0 !important;
  }

  .slick-slide img {
    margin-top: 0rem;
  }

  .react-tel-input .flag-dropdown {
    top: -25% !important;
  }

  .react-tel-input .form-control {
    width: 20rem !important;
    padding-bottom: 1.5rem;
  }

  .accordion-button {
    padding-left: 0% !important;
    padding-right: 0% !important;
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
  .accordion-button {
    padding-left: 0% !important;
    padding-right: 0% !important;
    font-size: 16px !important;
  }

  .react-tel-input {
    padding: 0 !important;
  }

  .react-tel-input .form-control {
    width: 21rem !important;
    padding-bottom: 1.5rem !important;
    margin-right: 2rem;
  }

  .react-tel-input .flag-dropdown {
    top: 15% !important;
  }
}

@media (min-width: 650px) and (max-width: 740px) {}

@media (min-width: 1200px) and (max-width: 1730px) {}

@media (min-width: 1920px) and (max-height: 1080px) {}

/* ======================================= */

/* .Pulse{
  width: fit-content;
  height: fit-content;
	aspect-ratio: 1;
	background-color: transparent;
	border-radius: 50%;
	animation: Pulse 2s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  margin-top: 1rem;
}

@keyframes Pulse{
	0% {
			box-shadow: 0 0 0 5px #ccc;
      opacity: 0.25;
	}

	100% {
			box-shadow: 0 0 0 20px transparent;
      opacity: 0.25;
	}
} */

/* ========================================== */

/* ===================================== Career Accordion ============================================================== */
/* .AccordionNav .AccordionHeader button {
  background-color: transparent !important;
  color: rgb(191, 131, 111) !important;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 0%;
}

.AccordionNav .accordion-button::after {
  background-image: url("/assets/arrow-up-solid.svg") !important;
  transition: all 0.5s ease !important;
  transform: rotate(180deg);
}

.AccordionNav .accordion-button:not(.collapsed)::after {
  background-image: url("/assets/arrow-up-solid.svg") !important;
  transform: rotate(0deg);
}

.AccordionNav .accordion-button:not(.collapsed) {
  box-shadow: none;
  padding-top: 0%;
}
.AccordionNav .accordion-body {
  padding: 0 1.25rem;
}

.accordion-item {
  border: none !important;
  margin: 1.5em 0 !important;
}
.accordion-button {
  background: #1a1c3c !important;
  color: white !important;
}

.CareersAccordion .accordion-button::after {
  background-image: url("/assets/images/plus.svg") !important;
  transition: all 0.3s ease !important;
}

.CareersAccordion .accordion-button:not(.collapsed)::after {
  background-image: url("/assets/images/minus.svg") !important;
  transform: rotate(0deg) !important;
}

.CareersAccordion .accordion-body,
.accordion-button,
.accordion-button:not(.collapsed) {
  background-color: #1a1c3c !important;
  color: #fff !important;
  outline: none !important;
  border: none !important;
}
.CareersAccordion .accordion-button:not(.collapsed) {
  background-color: #1a1c3c !important;
  color: #fff !important;
  outline: none !important;
  border: none !important;
}

.CareersAccordion .accordion-body a {
  text-decoration: none;
}

.accordion-body {
  padding: 1rem 1.25rem;
}

.CareersAccordion .accordion-body div {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 1rem;
} */

@media screen and (max-width: 600px) {
  .CareersAccordion .accordion-body div {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0;
  }
}

/* .forfaq .accordion-button,
.accordion-button:not(.collapsed) {
  background-color: #ffffff !important;
  color: #000 !important;
}

.forfaq .accordion-button:not(.collapsed) {
  box-shadow: none !important;
}
.forfaq .accordion-button {
  font-weight: 600;
  font-size: 22px;
  height: 6rem;
}
.forfaq .accordion-item {
  margin: 2.5rem 0 !important;
  border-radius: 10px !important;
  margin-right: 1rem !important;
  border: 1px solid rgba(206, 206, 206, 0.3) !important;
}

.forfaq .accordion-body {
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 6rem;
  text-align: justify;
}
.forfaq .accordion-header {
  margin-left: 1rem;
  margin-right: 1rem;
}
.forfaq .accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("/assets/plusa.svg");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: all 0.5s ease !important;
}
.forfaq .accordion-button:not(.collapsed)::after {
  background-image: url("/assets/minusa.svg");
  transform: rotate(0deg);
  transition: all 0.5s ease !important;
}
.forfaq .accordion-button::after {
}
.accordon-button:active,
.accordion-button:focus,
.accordion-button:visited,
.accordion-button:hover,
.accordion-button:focus-visible {
  box-shadow: none !important;
} */

/* ===================================== Career Accordion END ============================================================== */