.IntroContainer {
  background: linear-gradient(90deg, #1a1c3b 28.05%, #a21d34 148.07%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.NftMenu {
  position: fixed;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: 5.8rem;
  height: 100vh;
  left: 0px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  background: #ffffff;
}
.BlockchainTechnologyText {
  font-weight: 400;
  width: max-content;
  font-size: 14px;
  margin-bottom: 6rem;
  color: rgba(0, 0, 0, 0.8);
  transform: rotate(-90deg);
}
/* frame  1 */
.SoftwareDevelopmentExpertsContainer {
  background: linear-gradient(90deg, #1a1c3b 28.05%, #a21d34 148.07%);
  color: #ffffff;
  padding-top: 2.5rem;
  padding-left: 8.5rem;
  padding-bottom: 2.5rem;
}
.SoftwareDevelopmentExpertsHead {
}
.HomeMiniLine {
  width: 40px;
  padding: 0.1rem;
  margin-right: 1rem;
  border-bottom: 1px solid #ffffff;
}
.RequestDemoButton {
  border: 1px solid #ffffff;
  border-radius: 22px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin-right: 2rem;
  width: fit-content;
}
.SoftwareDevelopmentExpertsSmallHead {
  display: flex;
  align-items: center;
}
.HomeSmallHeading {
  font-weight: 400;
  font-size: 22px;
}
.SoftwareDevelopmentExpertsRow {
  margin: 0%;
}
.SoftwareDevelopmentExpertsBigHeadingContainer {
}
.SoftwareDevelopmentExpertsBigHeading {
  font-weight: 600;
  font-size: 70px;
  padding-top: 4rem;
  padding-bottom: 5rem;
}
.SoftwareDevelopmentExpertsBtnCol {
  display: flex;
  justify-content: end;
}
.SoftwareDevelopmentExpertsSliderContainer {
  display: flex;
  align-items: center;
}
.SoftwareDevelopmentExpertSliderHeading {
  display: flex;
  align-items: center;
  padding-left: 2rem;
}
.SoftwareDevelopmentExpertSliderBtnLeft {
  padding-right: 1rem;
}
.SoftwareDevelopmentExpertSliderBtnRight {
  padding-right: 1rem;
}
.SliderCard {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 17px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
/* Discover mobifinx */
.DiscoverMobifinixContainer {
  padding-top: 6rem;
  padding-left: 8.5rem;
  padding-bottom: 6rem;
}
.DiscoverMobifinixSubContainer {
  margin: 0%;
  text-align: center;
}
.DiscoverMobifinxBtn {
  color: #a21d34;
  border: 1px solid #a21d34;
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border-radius: 22px;

  width: fit-content;
}
.DiscoverMobifinxBtn span {
  padding-left: 0.5rem;
}
.DiscoverMobifinxBtnContainer {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}
.DiscoverMobifinixPara1 {
  font-weight: 600;
  font-size: 22px;
  width: 48rem;
}
.DiscoverMobifinixPara2 {
  width: 53.75rem;
  font-weight: 400;
  font-size: 16px;
  color: #2e3159;
  font-style: normal;
  margin: 0%;
}
.DiscoverMobifinixPara1Container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.DiscoverBox {
}
.DiscoverMobifinixPara2Container {
  padding: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.DiscoverItemParagraph {
  padding-top: 2rem;
  width: 13rem;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.DiscoverItemsRow {
  margin: 0%;
}
.DiscoverItemCol {
  display: flex;
  justify-content: center;
}
.DiscoverItemsContainer {
  padding-top: 4rem;
  display: flex;
  justify-content: end;
}
/* Our Products */
.OurProductsContainer {
  background: #1a1c3c;
  padding: 4rem 3rem 4rem 8.5rem;
}
.OurProductsHeading {
  font-weight: 600;
  font-size: 70px;
  color: #ffffff;
}
.OurProductsCardsContainer {
}
.OurProductsCard {
  width: 100%;
  align-items: end;
  display: flex;
  flex-direction: column;
}
/* ----card product */
.OurProductsCardsMain {
  border-top: 1px solid #ffffff;
  color: #ffffff;
  width: 70%;
  border-bottom: 1px solid #ffffff;
}
.OurProductsCardSub {
  padding-top: 2rem;
  display: flex;
  padding-bottom: 2rem;
}
.OurProductsCardImage {
  padding-right: 2rem;
}
.OurProductsCardDetail {
}
.OurProductsHead {
}
.OurProductsParagraph {
  font-weight: 300;
  font-size: 16px;
  width: 26.4rem;
}
.LearnMore {
}
/* FUTURE CHOICE */
.FutureChoiceContainer {
  background: #1a1c3c;
  padding: 4rem 0;
  padding-left: 8.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.ReadBlog {
  font-weight: 600;
  font-size: 16px;
  color: #a21d34;
  text-align: center;
}
.BeApartOf {
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  margin: 0%;
}
.FutureChoice {
  text-align: center;
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  color: #ffffff;
  margin: 0%;
}
.WannaReadBtn {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  text-align: center;
  width: fit-content;
  background: #a21d34;
  border-radius: 22px;
  color: #ffffff;
  padding: 0.7rem 2rem;
}
/* Achievements */

/* Footer */

/*  */
@media (min-width: 320px) and (max-width: 450px) {
}
@media (min-width: 768px) and (max-width: 1080px) {
}
@media (min-width: 650px) and (max-width: 740px) {
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 1920px) and (max-height: 1080px) {
}
