.BenefitsContainer {
  padding: 4rem 3rem 4rem 8.5rem;
}
.ArrowTop {
  font-size: 4rem;
  transform: rotate(0deg);
  display: block;
  text-align: center;
  cursor: pointer;
}
.ArrowBottom {
  font-size: 4rem;
  text-align: center;
  transform: rotate(0deg);
  cursor: pointer;

}
.Current {
  font-weight: 300;
  font-size: 90px;
}
.Controller {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  width: fit-content;
  padding-right: 6rem;
}
.ItemCard {
  padding-top: 4rem;
}
.ItemTitle {
  font-weight: 300;
  font-size: 30px;
  padding-top: 1rem;
}
.ItemDescreption {
  font-weight: 300;
  font-size: 18px;
}
.BenefitHeading {
  width: fit-content;
  /* padding-left: 10rem; */
  font-weight: 500;
  font-size: 50px;
  padding-bottom: 2rem;
}

.MiniIntroduce {
  font-weight: 300;
  font-size: 16px;
  transform: rotate(-90deg);
  letter-spacing: 0.2em;
  width: fit-content;
  margin-top: 3rem;
  margin-left: -2rem;
}
.ArrowTopMob,
.ArrowBottomMob {
  display: none;
}
@media (min-width: 320px) and (max-width: 450px) {
  .ArrowTopMob {
    font-size: 2rem;
    transform: rotate(90deg);
    display: block;
  }
  .ArrowBottomMob {
    font-size: 2rem;
    transform: rotate(90deg);
    display: block;
  }
  .BenefitsContainer {
    padding: 5rem 1rem;
  }
  .ControllerRev {
    flex-direction: column-reverse;
  }
  .Controller {
    padding-top: 1rem;
    flex-direction: unset;
  }
  .ArrowTop {
    font-size: 2rem;
    transform: rotate(360deg);
    display: none;
  }

  .ArrowBottom {
    font-size: 2rem;
    transform: rotate(180deg);
    display: none;
  }
  .Current {
    font-size: 45px;
    margin: 0%;
  }
  .MiniIntroduce {
    transform: rotate(0deg);
    margin: 0%;
    padding-bottom: 1rem;
  }
  .BenefitHeading {
    font-size: 2.1rem;
  }
  .ItemCard {
    padding-top: 1rem;
  }
  .ItemTitle {
    padding: 1rem 0;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .BenefitsContainer {
    padding: 3rem 1rem;
  }

  .Current {
    font-size: 45px;
    margin: 0%;
  }
  .MiniIntroduce {
    transform: rotate(0deg);
    margin: 0%;
    padding-bottom: 1rem;
  }
  .BenefitHeading {
  }
  .ItemCard {
    padding-top: 1rem;
  }
}
@media (min-width: 650px) and (max-width: 740px) {
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 1920px) and (max-height: 1080px) {
}
