.BenefitsContainer {
  padding: 4rem 3rem 4rem 8.5rem;
}
.ArrowTop {
  font-size: 4rem;
  transform: rotate(90deg);
  display: block;
  text-align: center;
}
.ArrowBottom {
  font-size: 4rem;
  text-align: center;
  transform: rotate(-90deg);
}
.Current {
  font-weight: 300;
  font-size: 90px;
}
.Controller {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}
.ItemCard {
  padding-top: 3rem;
}
.ItemTitle {
  font-weight: 300;
  font-size: 30px;
  padding-top: 1rem;
}
.ItemDescreption {
  font-weight: 300;
  font-size: 18px;
}
.BenefitHeading {
  width: fit-content;
  padding-left: 10rem;
  font-weight: 500;
  font-size: 50px;
  padding-bottom: 2rem;
}

.MiniIntroduce {
  font-weight: 400;
  font-size: 14px;
  transform: rotate(-90deg);
  letter-spacing: 0.2em;
  width: fit-content;
  margin-top: 2.5rem;
}
