.BenefitsContainer {
  padding: 4rem 3rem 4rem 8.5rem;
}

.ArrowTop {
  font-size: 4rem;
  transform: rotate(0deg);
  display: block;
  text-align: center;
  cursor: pointer;
}

.ArrowBottom {
  font-size: 4rem;
  text-align: center;
  transform: rotate(0deg);
  cursor: pointer;
}

.Current {
  font-weight: 300;
  font-size: 90px;
}

.Controller {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  width: 12rem;
  padding-right: 6rem;
}

.ItemCard {
  padding-top: 4rem;
}

.ItemTitle {
  font-weight: 300;
  font-size: 30px;
  padding-top: 1rem;
}

.ItemDescreption {
  font-weight: 300;
  font-size: 18px;
}

.BenefitHeading {
  width: fit-content;
  /* padding-left: 10rem; */
  font-weight: 500;
  font-size: 50px;
  padding-bottom: 2rem;
}

.MiniIntroduce {
  font-weight: 300;
  font-size: 16px;
  transform: rotate(-90deg);
  letter-spacing: 0.2em;
  width: fit-content;
  margin-top: 3rem;
  margin-left: -2rem;
}

.ArrowTopMob,
.ArrowBottomMob {
  display: none;
}

@media (min-width: 320px) and (max-width: 450px) {
  /* .ArrowTopMob {
    font-size: 2rem;
    transform: rotate(90deg);
    display: block;
  }

  .ArrowBottomMob {
    font-size: 2rem;
    transform: rotate(90deg);
    display: block;
  }

  .BenefitsContainer {
    padding: 5rem 1rem;
  }

  .ControllerRev {
    flex-direction: column-reverse;
  }

  .Controller {
    padding-top: 1rem;
    flex-direction: unset;
    padding-right: 0;
    width: 100%;
    justify-content: center;
  }

  .ArrowTop {
    font-size: 2rem;
    transform: rotate(360deg);
    display: none;
  }

  .ArrowBottom {
    font-size: 2rem;
    transform: rotate(180deg);
    display: none;
  }

  .Current {
    font-size: 35px;
    margin: 0%;
  }

  .MiniIntroduce {
    transform: rotate(0deg);
    margin: 0%;
    padding-bottom: 1rem;
  }

  .BenefitHeading {
    font-size: 2.1rem;
  }

  .ItemCard {
    padding-top: 1rem;
  }

  .ItemTitle {
    padding: 1rem 0;
  } */
}

@media (min-width: 768px) and (max-width: 1080px) {
  /* .BenefitsContainer {
    padding: 3rem 1rem;
  }

  .Current {
    font-size: 50px;
    font-weight: 400;
    margin: 0%;
  }

  .MiniIntroduce {
    transform: rotate(0deg);
    margin: 0%;
    padding-bottom: 1rem;
  }

  .BenefitHeading {}

  .ItemCard {
    padding-top: 1rem;
  } */
}

/* ================================= */

/* (this for mobile) */
@media screen and (max-width: 600px) {
  .ArrowTopMob {
    font-size: 2rem;
    transform: rotate(90deg);
    display: block;
  }

  .ArrowBottomMob {
    font-size: 2rem;
    transform: rotate(90deg);
    display: block;
  }

  .BenefitsContainer {
    padding: 5rem 1rem;
  }

  .ControllerRev {
    flex-direction: column-reverse;
  }

  .Controller {
    padding-top: 1rem;
    flex-direction: unset;
    padding-right: 0;
    width: 100%;
    justify-content: center;
  }

  .ArrowTop {
    font-size: 2rem;
    transform: rotate(360deg);
    display: none;
  }

  .ArrowBottom {
    font-size: 2rem;
    transform: rotate(180deg);
    display: none;
  }

  .Current {
    font-size: 35px;
    margin: 0%;
  }

  .MiniIntroduce {
    transform: rotate(0deg);
    margin: 0%;
    padding-bottom: 1rem;
    display: none;
  }

  .BenefitHeading {
    font-size: 2.1rem;
  }

  .ItemCard {
    padding-top: 1rem;
  }

  .ItemTitle {
    padding: 1rem 0;
  }
}

/* (this for mobile landscape) */
@media screen and (min-width: 600px) {
  .ArrowTopMob {
    font-size: 2rem;
    transform: rotate(90deg);
    display: block;
  }

  .ArrowBottomMob {
    font-size: 2rem;
    transform: rotate(90deg);
    display: block;
  }

  .BenefitsContainer {
    padding: 5rem 1rem;
  }

  .ControllerRev {
    flex-direction: column-reverse;
  }

  .Controller {
    padding-top: 1rem;
    flex-direction: unset;
    padding-right: 0;
    width: 100%;
    justify-content: center;
  }

  .ArrowTop {
    font-size: 2rem;
    transform: rotate(360deg);
    display: none;
  }

  .ArrowBottom {
    font-size: 2rem;
    transform: rotate(180deg);
    display: none;
  }

  .Current {
    font-size: 35px;
    margin: 0%;
  }

  .MiniIntroduce {
    transform: rotate(0deg);
    margin: 0%;
    padding-bottom: 1rem;
  }

  .BenefitHeading {
    font-size: 2.1rem;
  }

  .ItemCard {
    padding-top: 1rem;
  }

  .ItemTitle {
    padding: 1rem 0;
  }
}

/* (this for Tab) */
@media only screen and (min-width: 768px) {
  .BenefitsContainer {
    padding: 6rem 1rem;
  }

  .Current {
    font-size: 50px;
    font-weight: 400;
    margin: 0%;
  }

  .MiniIntroduce {
    transform: rotate(0deg);
    margin: 0%;
    padding-bottom: 1rem;
    display: none;
  }

  .BenefitHeading {
    font-size: 50px;
  }

  .ItemCard {
    padding-top: 1rem;
    width: 150%;
  }
  .ControllerRev {
    flex-direction: row;
  }
  .Controller {
    width: auto;
    flex-direction: column;
  }
  .ArrowTopMob {
    font-size: 3rem;
    transform: rotate(180deg);
    display: block;
  }
  .ArrowBottomMob {
    font-size: 3rem;
    transform: rotate(180deg);
    display: block;
  }
  .ControllerRev {
    justify-content: left;
  }
  .ItemCard {
    padding-left: 4rem;
  }
}

/* (this for Tab landscap) */
@media only screen and (min-width: 992px) {
  .BenefitsContainer {
    padding-left: 8.5rem;
  }
  .Controller {
    width: auto;
    flex-direction: column;
  }
  .ArrowTopMob {
    font-size: 3rem;
    transform: rotate(180deg);
    display: block;
  }
  .ArrowBottomMob {
    font-size: 3rem;
    transform: rotate(180deg);
    display: block;
  }
  .ControllerRev {
    justify-content: left;
  }
  .ItemCard {
    padding-left: 4rem;
  }
}

/* (this for large device) */
@media only screen and (min-width: 1200px) {
  .BenefitsContainer {
    padding: 4rem 3rem 4rem 8.5rem;
  }

  .ArrowTop {
    font-size: 4rem;
    transform: rotate(0deg);
    display: block;
    text-align: center;
    cursor: pointer;
    transition: all 1s ease;
  }

  .ArrowTop:hover {
    transform: scale(1.2);
    transition: all 1s ease;
  }

  .ArrowBottom {
    font-size: 4rem;
    text-align: center;
    transform: rotate(0deg);
    cursor: pointer;
  }

  .Current {
    font-weight: 300;
    font-size: 90px;
  }

  .Controller {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    width: 12rem;
    padding-right: 6rem;
  }

  .ItemCard {
    padding-top: 4rem;
    padding-left: 0;
    width: 100%;
  }

  .ItemTitle {
    font-weight: 300;
    font-size: 30px;
    padding-top: 1rem;
  }

  .ItemDescreption {
    font-weight: 300;
    font-size: 18px;
  }

  .BenefitHeading {
    width: fit-content;
    /* padding-left: 10rem; */
    font-weight: 500;
    font-size: 50px;
    padding-bottom: 2rem;
  }

  .MiniIntroduce {
    font-weight: 300;
    font-size: 16px;
    transform: rotate(-90deg);
    letter-spacing: 0.2em;
    width: fit-content;
    margin-top: 3rem;
    margin-left: -2rem;
    display: block;
  }

  .ArrowTopMob,
  .ArrowBottomMob {
    display: none;
  }

  .ControllerRev {
    flex-direction: row;
  }

  .ArrowBottom {
    display: block;
    transition: all 1s ease;
  }
  .ArrowBottom:hover {
    transform: scale(1.2);
    transition: all 1s ease;
  }
}
