.Askedquestion {
  padding-left: 8.5rem;
  padding-right: 3rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: #f5f5f5;
}

.Askedquestion h3 {
  font-size: 50px;
  font-weight: 600;
  color: #1a1c3b;
  padding-bottom: 4rem;
}

.verticaltext {
  transform: rotate(-90deg);
  width: fit-content;
  margin-left: -0.8rem;
  margin-top: 2rem;
}

@media (min-width: 320px) and (max-width: 450px) {
  /* .Askedquestion {
    padding: 4rem 1rem;
  }

  .Askedquestion h3 {
    font-size: 2.1rem;
    padding-bottom: 2rem;
  }

  .verticaltext {
    display: none;
  } */
}

@media (min-width: 768px) and (max-width: 1080px) {
  /* .Askedquestion {
    padding: 4rem 1rem;
  }

  .Askedquestion h3 {
    font-size: 2.1rem;
    padding-bottom: 2rem;
  }

  .verticaltext {
    display: none;
  } */
}

@media (min-width: 1200px) and (max-width: 1730px) {}

@media (min-width: 650px) and (max-width: 740px) {}


/* (this for mobile) */
@media screen and (max-width: 600px) {
  .Askedquestion {
    padding: 4rem 1rem;
  }

  .Askedquestion h3 {
    font-size: 2.1rem;
    padding-bottom: 2rem;
  }

  .verticaltext {
    display: none;
  }
}

/* (this for mobile landscape) */
@media screen and (min-width: 600px) {
  .Askedquestion {
    padding: 4rem 1rem;
  }

  .Askedquestion h3 {
    font-size: 2.1rem;
    padding-bottom: 2rem;
  }

  .verticaltext {
    display: none;
  }
}

/* (this for Tab) */
@media only screen and (min-width: 768px) {
  .Askedquestion {
    padding: 4rem 1rem;
  }

  .Askedquestion h3 {
    font-size: 2.1rem;
    padding-bottom: 2rem;
  }

  .verticaltext {
    display: none;
  }
}

/* (this for Tab landscap) */
@media only screen and (min-width: 992px) {}

/* (this for large device) */
@media only screen and (min-width: 1200px) {
  .Askedquestion {
    padding-left: 8.5rem;
    padding-right: 3rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: #f5f5f5;
  }

  .Askedquestion h3 {
    font-size: 50px;
    font-weight: 600;
    color: #1a1c3b;
    padding-bottom: 4rem;
  }

  .verticaltext {
    transform: rotate(-90deg);
    width: fit-content;
    margin-left: -0.8rem;
    margin-top: 2rem;
  }
}