.Herosection {
  padding-left: 8.5rem;
  padding-top: 2rem;
}
.Herotitle {
  display: flex;
  align-items: center;
}
.SpaceRemover {
  margin: 0%;
  padding-right: 1rem;
}
.Herotitle h1 {
  font-size: 4.5rem;
  font-weight: 500;
  color: black;
  line-height: 70px;
  padding-left: 2rem;
  margin: 0%;
}
.Herotitle span {
  font-size: 3rem;
  font-weight: 300;
  color: black;
}
.productimg {
  padding: 2rem 0;
  width: 100%;
  height: auto;
}
.MiniLine {
  width: 40px;
  padding: 0.1rem;
  margin-right: 1rem;
  border-bottom: 1px solid #000;
}
.SoftwareDevelopmentExpertsRow {
  margin: 0%;
  align-items: center;
  padding-bottom: 5.5rem;
  padding-top: 1.2rem;
}
.SoftwareDevelopmentExpertsSmallHead {
  display: flex;
  align-items: center;
}
.HomeMiniLine {
  width: 40px;
  padding: 0.1rem;
  margin-right: 1rem;
  border-bottom: 1px solid #000;
}
.HomeSmallHeading {
  font-weight: 400;
  font-size: 20px;
}
.SoftwareDevelopmentExpertsBtnCol {
  justify-content: flex-end;
  margin-top: 0rem;
  display: flex;
  padding-right: 1rem;
}
.Scrolldowncontainer {
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  animation: scrolldowntotop 4s ease-in 0s infinite normal;
  animation-direction: alternate;
  margin-left: -3rem;
  margin-bottom: 4rem;
  cursor: pointer;
}
@keyframes scrolldowntotop {
  0% {
    top: 10px;
  }
  25% {
    top: -10px;
  }
  50% {
    top: 10px;
  }
  75% {
    top: -10px;
  }
  100% {
    top: 10px;
  }
}
.ImageDown {
  transform: rotate(90deg);
}
.ScrolldownText {
  margin: 0%;
  padding-left: 1rem;
}
.ScrolldownMainCol {
  display: flex;
  align-items: center;
}
.HeroImg {
  height: 200px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .Herosection {
    padding: 5.3rem 0rem 2rem 1rem;
  }
  .TextButton {
    display: none;
  }
  .HomeSmallHeading {
    font-size: 14px;
  }
  .Scrolldowncontainer {
    display: none;
  }
  .Herotitle h1 {
    font-size: 2.1rem;
    line-height: 2rem;
  }
  .Herotitle span {
    font-size: 1.3rem;
  }
  .SoftwareDevelopmentExpertsRow {
    padding-bottom: 3rem;
  }
  .SpaceRemover {
    margin: 0% !important;
  }
  .HeroImg {
    height: 100px;
  }
  .productimg {
    padding-bottom: 0%;
  }
  .HomeMiniLine{
    width: 25px;
  }
  .MobButton{
    border-radius: 50%;
    width:2.5rem !important;
    height: 2.5rem !important;
    background-size: 200% 200%;
    background-position: right bottom;
    transition: all 0.8s ease-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  
}
@media (min-width: 768px) and (max-width: 1080px) {
  .Herosection {
    padding: 2rem 0rem 2rem 1rem;
  }
  .Scrolldowncontainer {
    display: none;
  }
  .SpaceRemover {
    margin: 0% !important;
  }
  .SoftwareDevelopmentExpertsRow {
    padding-top: 5rem;
  }
  .Herotitle h1 {
    font-size: 50px;
  }
  
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 650px) and (max-width: 740px) {
}
