.Container {
  position: relative;
  padding-right: 15px;
  width: fit-content;
}

.Image {
  display: block;
  width: 100%;
}

.Overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: rgba(162, 29, 52, 0.9);
  border-radius: 12px;
  margin-right: 15px;
}

.Container:hover .Overlay {
  opacity: 1;
}
.SliderBottomText {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 18px;
}
.Text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 40%;
  width: 100%;
  left: 50%;
  padding-left: 1rem;
  padding-right: 1rem;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: 16px;
  text-align: justify;
}
.IntroMainContainer {
  padding: 4rem 0rem 7rem 8.5rem;
}
.IntroMainTitle {
  font-weight: 500;
  font-size: 50px;
  padding-bottom: 2.5rem;
}
.IntroMainContent {
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 4rem;
  margin: 0%;
}
.verticaltext {
  transform: rotate(-90deg);
  width: fit-content;
  margin-left: -4.5rem;
  margin-top: 6rem;
  letter-spacing: 4px;
  font-weight: 400;
  color: rgba(18, 18, 18, 0.6);
}
.SliderActionContainer {
  display: flex;
  align-items: center;
  padding-bottom: 4rem;
}
.SliderActionTitle {
  margin: 0%;
  font-weight: 500;
  font-size: 22px;
}
.SliderActionButtons {
  padding-left: 2.5rem;
  cursor: pointer;
}
.leftButton {
  height: 3rem;
  padding-right: 0.8rem;
  transition: all 0.5s ease;
}

.leftButton:hover {
  transform: scale(1.2);
  transition: all 0.5s ease;
}
.SpecialSpace{
  padding-right: 3rem;
}
@media (min-width: 320px) and (max-width: 450px) {
  .IntroMainContainer {
    padding: 1rem 1rem;
    /* padding-top: 7rem; */
  }
  .IntroMainTitle {
    font-size: 1.5rem;
    margin: 0;
    width: 20rem;
    padding-bottom: 1rem;
    line-height: 35px;
  }
  .verticaltext {
    transform: rotate(0deg);
    margin: 0%;
    padding-bottom: 1rem;
    font-size: 14px;
    letter-spacing: 2px;
  }
  .Text {
    font-size: 10px;
    top: 35%;
  }
  .SliderActionContainer {
    padding-bottom: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .IntroMainContainer {
    padding: 0rem 1rem;
    padding-bottom: 4rem;
  }
  .verticaltext {
    transform: rotate(0deg);
    margin: 0%;
    padding-bottom: 1rem;
  }
  .Text {
    font-size: 17px;
    top: 40%;
  }
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 650px) and (max-width: 740px) {
}
