.NextProductContainer {
  padding: 6rem 3rem 6rem 8.5rem !important;
  background-color: #fff;
}
/* .Outer {
  padding-top: 120px;
  width: 850px;
  margin: auto;
  display: block;
  set the font color here as a background color, in this case black
background-color: black;
}

.Bg {
  text-align: center;
  width: 0%;
  transition: all 0.6s ease-out;
  background: #3ebac6 -moz-linear-gradient(90deg, #3ebac6 0%, #8b539e 50%, #e53782
        100%);
  background: -webkit-gradient(
    linear,
    90deg top,
    right top,
    color-stop(0%, #3ebac6),
    color-stop(50%, #8b539e),
    color-stop(100%, #e53782)
  );
  background: -webkit-linear-gradient(
    90deg,
    #3ebac6 0%,
    #8b539e 50%,
    #e53782 100%
  );
  background: -o-linear-gradient(
    90deg,
    #3ebac6 0%,
    #8b539e 50%,
    #e53782 100%
  );
  background: -ms-linear-gradient(
    90deg,
    #3ebac6 0%,
    #8b539e 50%,
    #e53782 100%
  );
  background: linear-gradient(
    90deg,
    #3ebac6 0%,
    #8b539e 50%,
    #e53782 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3ebac6', endColorstr='#e53782', GradientType=1);
}

.Inner {
  display: inline-block;
  background-color: white;
  mix-blend-mode: screen;
  padding: 5px;
  width: 850px;
}

.h1 {
  color: white;
  font-size: 50px;
  letter-spacing: 5px;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
}

.Outer:hover .Bg {
  width: 100%;
}

.Outer:hover h1 {
  color: black;
  transition: all 2s ease;
} */
@media (min-width: 320px) and (max-width: 450px) {
  .NextProductContainer {
    padding: 4rem 1rem !important;
    text-align: center;
  }
  .SpaceForMob {
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .NextProductContainer {
    padding: 4rem 1rem !important;
    text-align: center;
  }
  .SpaceForMob {
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 650px) and (max-width: 740px) {
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 1920px) and (max-height: 1080px) {
}
