/* .NextProductContainer {
  padding: 6rem 3rem 6rem 8.5rem !important;
  background-color: #fff;
}
.Outer {
  padding-top: 120px;
  width: 850px;
  margin: auto;
  display: block;
  background-color: black;
}

.Bg {
  text-align: center;
  width: 0%;
  transition: all 0.6s ease-out;
  background: #3ebac6 -moz-linear-gradient(90deg, #3ebac6 0%, #8b539e 50%, #e53782
        100%);
  background: -webkit-gradient(
    linear,
    90deg top,
    right top,
    color-stop(0%, #3ebac6),
    color-stop(50%, #8b539e),
    color-stop(100%, #e53782)
  );
  background: -webkit-linear-gradient(
    90deg,
    #3ebac6 0%,
    #8b539e 50%,
    #e53782 100%
  );
  background: -o-linear-gradient(90deg, #3ebac6 0%, #8b539e 50%, #e53782 100%);
  background: -ms-linear-gradient(90deg, #3ebac6 0%, #8b539e 50%, #e53782 100%);
  background: linear-gradient(90deg, #3ebac6 0%, #8b539e 50%, #e53782 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3ebac6', endColorstr='#e53782', GradientType=1);
}

.Inner {
  display: inline-block;
  background-color: white;
  mix-blend-mode: screen;
  padding: 5px;
  width: 850px;
}

.h1 {
  color: white;
  font-size: 50px;
  letter-spacing: 5px;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
}

.Outer:hover .Bg {
  width: 100%;
}

.Outer:hover h1 {
  color: black;
  transition: all 2s ease;
}
@media (min-width: 320px) and (max-width: 450px) {
  .NextProductContainer {
    padding: 4rem 1rem !important;
    text-align: center;
  }
  .SpaceForMob {
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  .NextProductContainer {
    padding: 4rem 1rem !important;
    text-align: center;
  }
  .SpaceForMob {
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 650px) and (max-width: 740px) {
}
@media (min-width: 1200px) and (max-width: 1730px) {
}
@media (min-width: 1920px) and (max-height: 1080px) {
} */

/* ====================================================================== */

.NextRow {
  padding: 4rem;
}

.ColZero {
  text-align: right;
  cursor: pointer;
}

.ColOne {
  text-align: center;
  cursor: pointer;
}

.ColTwo {
  text-align: left;
  cursor: pointer;
}

.ColZero .bg {
  text-align: right;
  background: #fff;
  background: -moz-linear-gradient(
    90deg,
    #004dfe 0%,
    #3b86ff 50%,
    #75beff 100%
  );
  background: -webkit-gradient(
    linear,
    90deg top,
    right top,
    color-stop(0%, #004dfe),
    color-stop(50%, #3b86ff),
    color-stop(100%, #75beff)
  );
  background: -webkit-linear-gradient(
    90deg,
    #004dfe 0%,
    #3b86ff 50%,
    #75beff 100%
  );
  background: -o-linear-gradient(90deg, #004dfe 0%, #3b86ff 50%, #75beff 100%);
  background: -ms-linear-gradient(90deg, #004dfe 0%, #3b86ff 50%, #75beff 100%);
  background: linear-gradient(90deg, #004dfe 0%, #3b86ff 50%, #75beff 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#004DFE', endColorstr='#75BEFF', GradientType=1);
}

.ColOne .bg {
  text-align: center;
  background: #fff;
  background: -moz-linear-gradient(
    90deg,
    #363637 0%,
    #79797a 50%,
    #bcbcbc 100%
  );
  background: -webkit-gradient(
    linear,
    90deg top,
    right top,
    color-stop(0%, #363637),
    color-stop(50%, #79797a),
    color-stop(100%, #bcbcbc)
  );
  background: -webkit-linear-gradient(
    90deg,
    #363637 0%,
    #79797a 50%,
    #bcbcbc 100%
  );
  background: -o-linear-gradient(90deg, #363637 0%, #79797a 50%, #bcbcbc 100%);
  background: -ms-linear-gradient(90deg, #363637 0%, #79797a 50%, #bcbcbc 100%);
  background: linear-gradient(90deg, #363637 0%, #79797a 50%, #bcbcbc 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#363637', endColorstr='#BCBCBC', GradientType=1);
}

.ColTwo .bg {
  background: #fff;
  background: -moz-linear-gradient(
    90deg,
    #781a28 0%,
    #79797a 50%,
    #bcbcbc 100%
  );
  background: -webkit-gradient(
    linear,
    90deg top,
    right top,
    color-stop(0%, #781a28),
    color-stop(50%, #79797a),
    color-stop(100%, #bcbcbc)
  );
  background: -webkit-linear-gradient(
    90deg,
    #781a28 0%,
    #a92037 50%,
    #d62645 100%
  );
  background: -o-linear-gradient(90deg, #781a28 0%, #a92037 50%, #d62645 100%);
  background: -ms-linear-gradient(90deg, #781a28 0%, #a92037 50%, #d62645 100%);
  background: linear-gradient(90deg, #781a28 0%, #a92037 50%, #d62645 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#781A28', endColorstr='#D62645', GradientType=1);
}

.outer {
  display: inline-block;
}

.bg {
  display: inline-block;
  transition: all 0.6s ease-out;
  /* background: #3ebac6;
  background: -moz-linear-gradient(
    90deg,
    #3ebac6 0%,
    #8b539e 50%,
    #e53782 100%
  );
  background: -webkit-gradient(
    linear,
    90deg top,
    right top,
    color-stop(0%, #3ebac6),
    color-stop(50%, #8b539e),
    color-stop(100%, #e53782)
  );
  background: -webkit-linear-gradient(
    90deg,
    #3ebac6 0%,
    #8b539e 50%,
    #e53782 100%
  );
  background: -o-linear-gradient(90deg, #3ebac6 0%, #8b539e 50%, #e53782 100%);
  background: -ms-linear-gradient(90deg, #3ebac6 0%, #8b539e 50%, #e53782 100%);
  background: linear-gradient(90deg, #3ebac6 0%, #8b539e 50%, #e53782 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3ebac6', endColorstr='#e53782', GradientType=1); */
}

.inner {
  display: inline-block;
  background-color: white;
  mix-blend-mode: screen;
  padding: 5px;
  transition: all 2s ease;
}

.h1 {
  color: white;
  font-size: 50px;
  letter-spacing: 5px;
  -webkit-text-stroke: 1px black;
  font-family: "Avenir LT Std", sans-serif;
  font-weight: 800;
}

.outer:hover .bg {
  width: 100%;
}

.outer .h1 {
  transition: all 1s ease;
}

.outer:hover h1 {
  color: black;
}

@media (min-width: 320px) and (max-width: 767px) {
  /* .NextRow {
    padding: 4rem 1rem;
  }

  .ColZero {
    text-align: center;
  }

  .ColTwo {
    text-align: center;
  }

  .h1 {
    padding-bottom: 1rem;
  } */
}

@media (min-width: 768px) and (max-width: 1080px) {
  /* .NextRow {
    padding: 4rem 1rem;
  }

  .h1 {
    font-size: 35px;
  }

  .ColZero {
    text-align: center;
  }

  .ColOne {
    text-align: center;
  } */
}

/* ================================= */
/* (this for mobile) */
@media screen and (max-width: 600px) {
  .NextRow {
    padding: 4rem 1rem;
  }

  .ColZero {
    text-align: center;
  }

  .ColTwo {
    text-align: center;
  }

  .h1 {
    padding-bottom: 1rem;
  }
}

/* (this for mobile landscape) */
@media screen and (min-width: 600px) {
  .NextRow {
    padding: 4rem 1rem;
  }

  .ColZero {
    text-align: center;
  }

  .ColTwo {
    text-align: center;
  }

  .h1 {
    padding-bottom: 1rem;
  }
}

/* (this for Tab) */
@media only screen and (min-width: 768px) {
  .NextRow {
    padding: 4rem 1rem;
  }

  .h1 {
    font-size: 35px;
  }

  .ColZero {
    text-align: center;
  }

  .ColOne {
    text-align: center;
  }
}

/* (this for Tab landscap) */
@media only screen and (min-width: 992px) {
}

/* (this for large device) */
@media only screen and (min-width: 1200px) {
  .NextRow {
    padding: 4rem;
  }

  .ColZero {
    text-align: right;
    cursor: pointer;
  }

  .ColOne {
    text-align: center;
    cursor: pointer;
  }

  .ColTwo {
    text-align: left;
    cursor: pointer;
  }

  .ColZero .bg {
    text-align: right;
    background: #fff;
    background: -moz-linear-gradient(
      90deg,
      #004dfe 0%,
      #3b86ff 50%,
      #75beff 100%
    );
    background: -webkit-gradient(
      linear,
      90deg top,
      right top,
      color-stop(0%, #004dfe),
      color-stop(50%, #3b86ff),
      color-stop(100%, #75beff)
    );
    background: -webkit-linear-gradient(
      90deg,
      #004dfe 0%,
      #3b86ff 50%,
      #75beff 100%
    );
    background: -o-linear-gradient(
      90deg,
      #004dfe 0%,
      #3b86ff 50%,
      #75beff 100%
    );
    background: -ms-linear-gradient(
      90deg,
      #004dfe 0%,
      #3b86ff 50%,
      #75beff 100%
    );
    background: linear-gradient(90deg, #004dfe 0%, #3b86ff 50%, #75beff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#004DFE', endColorstr='#75BEFF', GradientType=1);
  }

  .ColOne .bg {
    text-align: center;
    background: #fff;
    background: -moz-linear-gradient(
      90deg,
      #363637 0%,
      #79797a 50%,
      #bcbcbc 100%
    );
    background: -webkit-gradient(
      linear,
      90deg top,
      right top,
      color-stop(0%, #363637),
      color-stop(50%, #79797a),
      color-stop(100%, #bcbcbc)
    );
    background: -webkit-linear-gradient(
      90deg,
      #363637 0%,
      #79797a 50%,
      #bcbcbc 100%
    );
    background: -o-linear-gradient(
      90deg,
      #363637 0%,
      #79797a 50%,
      #bcbcbc 100%
    );
    background: -ms-linear-gradient(
      90deg,
      #363637 0%,
      #79797a 50%,
      #bcbcbc 100%
    );
    background: linear-gradient(90deg, #363637 0%, #79797a 50%, #bcbcbc 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#363637', endColorstr='#BCBCBC', GradientType=1);
  }

  .ColTwo .bg {
    background: #fff;
    background: -moz-linear-gradient(
      90deg,
      #781a28 0%,
      #79797a 50%,
      #bcbcbc 100%
    );
    background: -webkit-gradient(
      linear,
      90deg top,
      right top,
      color-stop(0%, #781a28),
      color-stop(50%, #79797a),
      color-stop(100%, #bcbcbc)
    );
    background: -webkit-linear-gradient(
      90deg,
      #781a28 0%,
      #a92037 50%,
      #d62645 100%
    );
    background: -o-linear-gradient(
      90deg,
      #781a28 0%,
      #a92037 50%,
      #d62645 100%
    );
    background: -ms-linear-gradient(
      90deg,
      #781a28 0%,
      #a92037 50%,
      #d62645 100%
    );
    background: linear-gradient(90deg, #781a28 0%, #a92037 50%, #d62645 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#781A28', endColorstr='#D62645', GradientType=1);
  }

  .outer {
    display: inline-block;
  }

  .bg {
    display: inline-block;
    transition: all 0.6s ease-out;
    /* background: #3ebac6;
    background: -moz-linear-gradient(
      90deg,
      #3ebac6 0%,
      #8b539e 50%,
      #e53782 100%
    );
    background: -webkit-gradient(
      linear,
      90deg top,
      right top,
      color-stop(0%, #3ebac6),
      color-stop(50%, #8b539e),
      color-stop(100%, #e53782)
    );
    background: -webkit-linear-gradient(
      90deg,
      #3ebac6 0%,
      #8b539e 50%,
      #e53782 100%
    );
    background: -o-linear-gradient(90deg, #3ebac6 0%, #8b539e 50%, #e53782 100%);
    background: -ms-linear-gradient(90deg, #3ebac6 0%, #8b539e 50%, #e53782 100%);
    background: linear-gradient(90deg, #3ebac6 0%, #8b539e 50%, #e53782 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3ebac6', endColorstr='#e53782', GradientType=1); */
  }

  .inner {
    display: inline-block;
    background-color: white;
    mix-blend-mode: screen;
    padding: 5px;
    transition: all 2s ease;
  }

  .h1 {
    color: white;
    font-size: 50px;
    letter-spacing: 5px;
    -webkit-text-stroke: 1px black;
    font-family: "Avenir LT Std", sans-serif;
    font-weight: 800;
  }

  .outer:hover .bg {
    width: 100%;
  }

  .outer .h1 {
    transition: all 1s ease;
  }

  .outer:hover h1 {
    color: black;
  }
}
