.SolutionHelps {
  background: linear-gradient(162deg, #1a1c3b 26.13%, #a21d34 156.23%);
  padding-left: 8.5rem;
  padding-right: 3rem;
}

.Solutionrow {
  justify-content: center;
  text-align: center;
}

.SolutionHelps h3 {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  padding: 4rem 0;
  text-align: center;
  margin: 0;
  padding-bottom: 0;
}

.SolutionDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem 0;
  width: 30%;
}

.SolutionDetail h5 {
  font-size: 22px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 1rem;
  width: 20rem;
}

.Button {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

/* .divider {
  margin-left: 1rem;
} */
.Divider {
  border-right: 2px solid #fff;
  margin-left: 1rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  /* .SolutionHelps {
    padding: 4rem 1rem 0 1rem;
  }

  .SolutionHelps h3 {
    padding-top: 0%;
    padding-bottom: 5rem;
    font-size: 2.1rem;
  }

  .SolutionDetail {
    width: 100%;
  }

  .divider {
    display: none;
  }

  .SolutionDetail {
    padding: 0 0 4rem 0;
  }

  .SolutionDetail h5 {
    border: none;
  } */
}

@media (min-width: 768px) and (max-width: 1080px) {
  /* .SolutionHelps {
    padding: 4rem 0rem 0 0rem;
  }

  .SolutionDetail h5 {
    font-size: 16px;
  }

  .divider {
    margin-left: 0.5rem;
  }

  .Btntext {
    padding-right: 0.5rem;
    font-size: 20px;
  }

  .Icon {
    font-size: 20px;
  } */
}

/* ================================= */
/* (this for mobile) */
@media screen and (max-width: 600px) {
  .SolutionHelps {
    padding: 4rem 1rem 0 1rem;
  }

  .SolutionHelps h3 {
    padding-top: 0%;
    padding-bottom: 5rem;
    font-size: 2.1rem;
  }

  .SolutionDetail {
    width: 100%;
  }

  .divider {
    display: none;
  }

  .SolutionDetail {
    padding: 0 0 4rem 0;
  }

  .SolutionDetail h5 {
    border: none;
  }
}

/* (this for mobile landscape) */
@media screen and (min-width: 600px) {
  .SolutionHelps {
    padding-left: 1rem;
  }
  .SolutionDetail h5 {
    font-size: 14px;
    text-align: center;
    width: 13rem;
  }
  .SolutionDetail {
    justify-content: center;
    text-align: left;
  }
  /* .SolutionHelps {
    padding: 4rem 1rem 0 1rem;
  }

  .SolutionHelps h3 {
    padding-top: 0%;
    padding-bottom: 5rem;
    font-size: 2.1rem;
  }

  .SolutionDetail {
    width: 100%;
  }

  .divider {
    display: none;
  }

  .SolutionDetail {
    padding: 0 0 4rem 0;
  }

  .SolutionDetail h5 {
    width: 17rem;
  } */
}

/* (this for Tab) */
@media only screen and (min-width: 768px) {
  .SolutionHelps {
    padding: 4rem 0rem 0 0rem;
  }

  .SolutionDetail h5 {
    font-size: 16px;
    width: 15rem;
  }

  .divider {
    margin-left: 0.5rem;
  }

  .Btntext {
    padding-right: 0.5rem;
    font-size: 20px;
  }

  .Icon {
    font-size: 20px;
  }
}

/* (this for Tab landscap) */
@media only screen and (min-width: 992px) {
}
.SolutionDetail h5 {
  font-size: 16px;
  width: 20rem;
}

/* (this for large device) */
@media only screen and (min-width: 1200px) {
  .SolutionHelps {
    background: linear-gradient(162deg, #1a1c3b 26.13%, #a21d34 156.23%);
    padding-left: 8.5rem;
    padding-right: 3rem;
  }

  .Solutionrow {
    justify-content: center;
    text-align: center;
  }

  .SolutionHelps h3 {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    padding: 4rem 0;
    text-align: center;
    margin: 0;
    padding-bottom: 0;
  }

  .SolutionDetail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 0;
    width: 30%;
  }

  .SolutionDetail h5 {
    font-size: 22px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 1rem;
    width: 20rem;
  }

  .Button {
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
  }

  /* .divider {
    margin-left: 1rem;
  } */
  .Divider {
    border-right: 2px solid #fff;
    margin-left: 1rem;
  }
}
