@font-face {
    font-family: 'Jost';
    src: url('Jost-Regular.eot');
    src: url('Jost-Regular.eot?#iefix') format('embedded-opentype'),
        url('Jost-Regular.woff2') format('woff2'),
        url('Jost-Regular.woff') format('woff'),
        url('Jost-Regular.ttf') format('truetype'),
        url('Jost-Regular.svg#Jost-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

